<!doctype html>
<html ng-app="gfcApp">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="styleSheet" href="/lib/ui-grid/3.0.1/ui-grid.css"/>
    <link href="/lib/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href="/lib/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="/lib/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href="/lib/kendo/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="/lib/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href="/lib/json-formatter/json-formatter.min.css" rel="stylesheet">
    <link rel="styleSheet" href="/css/main.css"/></head>
<body ng-controller="mainController" ng-init="init()">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header" style="white-space: nowrap">
            <a class="navbar-brand" ng-href="#/">GoFetchCode Admin</a>
            <span class="navbar-brand"> | </span>
            <span class="navbar-brand">{{currentUser.email}}</span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3" ng-show="!hideMenu">
            <div class="well sidebar-nav" style="max-width: 250px">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: activePath == '/' }"><a ng-href="#/">Home</a></li>
                    <li ng-class="{ active: activePath.indexOf('/user') == 0  }"><a ng-href="#/users"/>Users</a></li>
                    <li ng-class="{ active: activePath.indexOf('/search') == 0  }"><a ng-href="#/search"/>Search</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <div class="container">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/kendo/js/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>

<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!-- Angular Components -->
<script src="/lib/ui-grid/3.0.1/ui-grid.js"></script>
<script src="/lib/angular-input-match.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-animate.js"></script>

<script src="/lib/json-formatter/json-formatter.min.js"></script>

<script src="/lib/ui-grid/csv.js"></script>
<script src="/lib/ui-grid/pdfmake.js"></script>
<script src="/lib/ui-grid/vfs_fonts.js"></script>

<script src="/lib/kendo/js/kendo.all.min.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['bar']}]}"></script>
<script src="/secure/js/app.js"></script>

<!-- Services -->
<script src="/secure/js/services/user.js"></script>
<script src="/secure/js/services/responseSummary.js"></script>

<!-- Controllers -->
<script src="/secure/js/controllers/usersController.js"></script>
<script src="/secure/js/controllers/userController.js"></script>
<script src="/secure/js/controllers/searchController.js"></script>
<script src="/secure/js/controllers/jsonController.js"></script>

</body>
</html>