.messages-container {
  padding-top: 1px;
}

.messages-container .search-results .result-item.lato .result-block {
  border-bottom-color: #d0d4d6;
}

.messages-container .result-block .sender {
  padding: 6px 0;
  line-height: 18px;
  font-size: 15px;
  color: #123752;
  border-bottom: 1px solid #eceeef;
  font-weight: bold;
}

.message-form {
  margin-top: 15px;
}

.reply-box textarea {
  border-color: #a3aaaf;
  width: 100%;
  resize: none;
  height: 75px;
}

.reply-box textarea.active {
  height: 150px;
  border-color: #92cbaa;
  outline: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}