<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="search-form">
      <div class="logo text-center">
        <span>GoFetchCode</span>
      </div>

      <form name="search" class="nested-search" ng-submit="searchQuery($event)">
        <div class="comb-search input-group">
                <input data-adaptheight="" ng-model="$root.searchText" name="" type="text" placeholder="Search Query" required>
                <span class="search-button input-group-btn">
                  <button class="submit-comb-search" type="submit" ng-disabled="form.$invalid || dataLoading">Fetch</button>
                </span>
              </div>
      </form>

      <!--<div class="text-center">-->
        <!--<select name="" id="" class="panel-styled-select">-->
          <!--<option value="1">South San francisco ▾</option>-->
        <!--</select>-->
      <!--</div>-->

      <div class="search-examples">
        <div class="heading">For example</div>
        <p>What presumptive load-bearing values may be used for foundations?</p>
        <p>What are the minimum ground slope requirements next to foundations?</p>
        <p>What structural observations are required for seismic resistance?</p>
      </div>

    </div>

  </div>
</div>