<div class="tp-banner-container">
  <div class="tp-banner" gfc-carousel>
    <ul>
      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
          data-title="Slide 1">
        <!-- MAIN IMAGE -->
        <img src="assets/img/new/SF.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="60"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          <img src="assets/img/new/Logos/Combined_logo_w_100.png"/>
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          Find regulatory codes
          <br/>
          in a snap
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="/#/ask" class="btn-u btn-brd btn-brd-hover btn-u-light">Try It</a>
          <a href="/#/about" class="btn-u btn-brd btn-brd-hover btn-u-light">Who We Are</a>
        </div>
      </li>
      <!-- END SLIDE -->

      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
          data-title="Slide 2">
        <!-- MAIN IMAGE -->
        <img src="assets/img/new/SD.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="60"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          <img src="assets/img/new/Logos/Combined_logo_w_100.png"/>
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          Utilize cognitive computing
          <br/>
          to quickly find regulations
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="/#/ask" class="btn-u btn-brd btn-brd-hover btn-u-light">Try It</a>
          <a href="/#/about" class="btn-u btn-brd btn-brd-hover btn-u-light">Who We Are</a>
        </div>
      </li>
      <!-- END SLIDE -->

      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
          data-title="Slide 3">
        <!-- MAIN IMAGE -->
        <img src="assets/img/new/BB.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="60"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          <img src="assets/img/new/Logos/Combined_logo_w_100.png"/>
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          Untangle regulatory code
          <br/>
          at the press of a button
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="/#/ask" class="btn-u btn-brd btn-brd-hover btn-u-light">Try It</a>
          <a href="/#/about" class="btn-u btn-brd btn-brd-hover btn-u-light">Who We Are</a>
        </div>
      </li>
      <!-- END SLIDE -->
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<!--=== End Slider ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="clearfix margin-bottom-30">
    <div class="shadow-wrapper">
      <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
        <h2>GoFetchCode</h2>
        <p>
          GoFetchCode, powered by IBM Watson&#8482;, is the premier cognitive app that distills the millions of pages
          of
          federal, state, and local codes to answer regulatory questions in a snap.
          Ask GoFetchCode your question and it uses IBM Watson’s natural language processing to read and find answers
          in
          the code while easily linking you to other relevant sections.
          GoFetchCode is a partnership of IBM Watson and ENGEO, a leading provider of geotechnical, environmental, and
          hydrologic engineering, with over 45 years of experience navigating the regulatory environment.
          GoFetchCode is mobile and tablet friendly. Find what you need wherever you are.

        </p>
      </div>
    </div>

    <div class="clearfix margin-bottom-40"></div>

    <!-- Service Blocks -->
    <div class="margin-bottom-20"></div>
    <div class="row margin-bottom-40">
      <div class="col-md-3 col-sm-6">
        <div class="service-block service-block-default">
          <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
          <h2 class="heading-md">Ask</h2>
          <p>
            Ask GoFetchCode a question you have about a regulation or code.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-block service-block-default">
          <i class="icon-custom rounded-x icon-bg-dark icon-line icon-magnifier"></i>
          <h2 class="heading-md">Find</h2>
          <p>
            IBM Watson&#8482; has already read the code and finds what you are asking for.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-block service-block-default">
          <i class="icon-custom rounded-x icon-bg-dark icon-line icon-rocket"></i>
          <h2 class="heading-md">Show</h2>
          <p>
            GoFetchCode brings you to the right spot in the code, nicely formatted for the web.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service-block service-block-default">
          <i class="icon-custom rounded-x icon-bg-dark icon-line icon-support"></i>
          <h2 class="heading-md">Link</h2>
          <p>The Code in GoFetchCode is all linked together, so searching through the code is a snap.</p>
        </div>
      </div>
    </div>
    <!-- End Service Blokcs -->

    <!-- Info Blokcs -->
    <div class="row margin-bottom-40">
      <!-- Welcome Block -->
      <div class="col-md-8 md-margin-bottom-40">
        <div class="headline">
          <h2>Welcome To GoFetchCode</h2>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <img class="img-responsive margin-bottom-20" src="assets/img/new/Cranes_300.jpg" alt=""/>
          </div>
          <div class="col-sm-8">
            <p>
              GoFetchCode, powered by IBM Watson&#8482;, is the premier cognitive app that distills the millions of
              pages of federal, state, and local codes to answer regulatory questions in a snap.
            </p>
            <ul class="list-unstyled margin-bottom-20">
              <li><i class="fa fa-check color-green"></i>Finds your regulatory code in a snap</li>
              <li><i class="fa fa-check color-green"></i>Bookmarks important codes</li>
              <li><i class="fa fa-check color-green"></i>Remembers your previous questions</li>
              <li><i class="fa fa-check color-green"></i>Easily navigates and cross reference</li>
            </ul>
          </div>
        </div>

        <blockquote class="hero-unify">
          <p>
            Trying to find the regulation I need in the California Building Code is something close to a nightmare.
            Even
            when you find what you are looking for you often have to look in twelve more sections to get all of the
            relevant information. GoFetchCode helps me find exactly what I am looking for and then makes it super easy
            to navigate the code to find all the pieces I need to make sure that my designs are in compliance.
          </p>
          <small>Edgar Walace, Design Engineer</small>
        </blockquote>
      </div>
      <!--/col-md-8-->

      <!-- Posts -->
      <div class="col-md-4 posts">
        <div class="headline">
          <h3>Newly Added</h3>
        </div>
        <dl class="dl-horizontal">
          <dt><a href="#/cbc/chapter17">
            <img alt="" src="assets/img/new/SmallSquare/SteelFrame_150.jpg"></a></dt>
          <dd>
            <p>
              <a href="#/cbc/chapter17"><span style="font-weight:bold">Chapter 17 - Special Inspections</span>
                in the California Building Code is ready for action!</a>
            </p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <a href="#/cbc/chapter18">
          <dt>
            <img alt="" src="assets/img/new/SmallSquare/Foundation_150.jpg"></a></dt>
          <dd>
            <p>
              <a href="#/cbc/chapter18"><span style="font-weight:bold">Chapter 18 - Soil and Foundations</span>
                in the California Building Code has just been added!</a>
            </p>
          </dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>
            <img alt="" src="assets/img/new/SmallSquare/Construction_150.jpg">
          </dt>
          <dd>
            <p>
              Many more sections of the California Building Code are coming!
            </p>
          </dd>
        </dl>
      </div>
    </div>
    <!--/row-->
    <!-- End Info Blokcs -->

    <!-- Our Clients -->
    <div class="owl-carousel-style-v2 margin-bottom-40">
      <div class="headline">
        <h2>Our Clients</h2>
      </div>

      <img class="img-responsive" src="assets/img/new/berkeley-logo.png" alt="">


    </div>
  </div>
  <!-- End Our Clients -->
</div>

