<div class="search-history-container">
    <div class="row">
        <div class="col-md-3"
             style="margin-left: 20px;background-color: transparent;border-color: transparent;color: #29b866;margin-top: 20px;text-transform: uppercase;">
            <b><span style="margin-right: 15px;">TEAM    :</span>{{teamResult}}</b></div>
        <div class="col-md-3 pull-right">

            <a href="#/createTeamMember" class="btn btn-transparent btn-rounded"
               style="margin: 5px;background-color: #29b866;border-color:#29b866;color: white;">
                <b><i class="fa fa-plus-circle" aria-hidden="true"></i> Invite User </b>

                </button></a>

        </div>
        <!--<div class="col-md-3" style="margin-top: 10px;">
            <span>Show: </span>
            <select id="" style="width: 55px;height: 36px;">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="500">500</option>
            </select>
        </div>
        <div class="col-md-6 pull-right">
            <form name="search" class="nested-search" ng-submit="searchQuery($event)">
                <div class="comb-search input-group">
                    <input data-adaptheight="" ng-model="$root.searchText" name="" type="text" placeholder="Search User"
                           required>
                <span class="search-button input-group-btn">
                  <button class="submit-comb-search" type="submit" style="width:20px;"></button>
                </span>
                </div>
            </form>
            &lt;!&ndash;input type='text' placeholder='Search...' id='search-text-input'/>

            <div id='button-holder'>
                <i class="fa fa-search sericon" aria-hidden="true"></i>
            </div>&ndash;&gt;
        </div>-->
    </div>
    <table class="table table-bordered table-striped" style="margin-top: 10px;">
        <thead>
        <tr>
            <th>#S.NO</th>
            <th>Frist</th>
            <th>Last</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="result in searchResults" id="row{{result.id}}">

            <td class="col-xs-1">#{{$index + 1}}</td>
            <td class="col-xs-2">{{result.firstName}}</td>
            <td class="col-xs-2">{{result.lastName}}</td>
            <td class="col-xs-4 search-answer">
                <div>
                    <strong>{{result.email}}</strong>
                </div>
            </td>
            <td class="col-xs-2">
                <span>{{result.type}}</span>

            </td>
            <td class="col-xs-2">
                <i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit(result.id)"></i>
                <span class="search-time"><i class="fa fa-trash" style="cursor:pointer" aria-hidden="true"
                                             ng-click="deleteUser(result.id)"></i></span>

            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <button class="btn" ng-click="prev()" ng-disabled="disablePrev">< Prev</button>
        <button class="btn" ng-click="next()" ng-disabled="disableNext">Next ></button>
    </div>
</div>
