<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="login-form signup">
            <div class="h1 text-blue">Invite Team Member</div>
            <form name="form" ng-submit="createTeamMember()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required}">
                            <input type="text" name="firstName" id="firstName" class="form-control"
                                   ng-model=" user.firstName"
                                   placeholder="First name" required/>
                            <!--  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First Name is required</span>-->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group"
                             ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required}">
                            <input type="text" name="lastName" id="lastName" class="form-control"
                                   ng-model="user.lastName"
                                   placeholder="Last name" required/>
                            <!--<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last Name is required</span>-->
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.pattern || isEmailExists)}">

            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block with-errors"><ul
                    class="list-unstyled">
                <li>Email is required</li>
            </ul></span>
          <span ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block with-errors"><ul
                  class="list-unstyled">
              <li>Email address is invalid</li>
          </ul></span>
          <span ng-show="form.email.$dirty && isEmailExists" class="help-block with-errors"><ul class="list-unstyled">
              <li>Email is already registered</li>
          </ul></span>
                    <input type="email" name="email" id="Text1" class="form-control" ng-model="user.email"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email" ng-blur="checkEmail()"
                           required/>
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                     <span ng-show="form.email.$dirty && form.email.$error.pattern"
                           class="help-block">Please enter valid email</span>
                     <span ng-show="form.email.$dirty && isEmailExists" class="help-block">Email is already registered</span>
                </div>
                <div class="form-group">
                    <input type="submit" value=" Invite User"
                           ng-disabled="form.$invalid || isEmailExists || dataLoading">
                </div>
            </form>
        </div>
    </div>
</div>