<div class="s-results margin-bottom-50" style="padding: 20px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 style="text-align:center;">{{activationHeader}}</h1>
      <div ng-cloak style="font-size:larger;">{{activationMessage}}</div>
    </div>
  </div>
</div>