<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="login-form signup">
      <span class="error" ng-show="isInternalError">{{errorMessage}}</span>
      <div class="h1 text-blue">Signup</div>
      <form name="form" ng-submit="register()" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required}">
              <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName"
                     placeholder="First name" required/>
              <!--  <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First Name is required</span>-->
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required}">
              <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName"
                     placeholder="Last name" required/>
              <!--<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last Name is required</span>-->
            </div>
          </div>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.pattern || isEmailExists)}">

          <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block with-errors"><ul
              class="list-unstyled">
            <li>Email is required</li>
          </ul></span>
          <span ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block with-errors"><ul
              class="list-unstyled">
            <li>Email address is invalid</li>
          </ul></span>
          <span ng-show="form.email.$dirty && isEmailExists" class="help-block with-errors"><ul class="list-unstyled">
            <li>Email is already registered</li>
          </ul></span>
          <input type="email" name="email" id="Text1" class="form-control" ng-model="user.email"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email" ng-blur="checkEmail()" required/>
          <!-- <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
           <span ng-show="form.email.$dirty && form.email.$error.pattern"
                 class="help-block">Please enter valid email</span>
           <span ng-show="form.email.$dirty && isEmailExists" class="help-block">Email is already registered</span>-->
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && (form.password.$error.required || form.email.$error.pattern) }">
          <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block with-errors">
            <ul class="list-unstyled">
              <li>password should match the criteria</li>
            </ul>
          </span>
          <input type="password" name="password" id="password" class="form-control password-field" ng-model="user.password"
                 placeholder="Password"  ng-pattern="/^(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!@#$%^&*])[A-Za-z\d$!@#$%^&*]{8,})$/" required/>

          <a tabindex="-1" class="password-info" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
             data-html="true" data-content="Minimum 8 characters.<br/>Atleast 1 Uppercase Alphabet<br/>Atleast 1 Lowercase Alphabet<br/>Atleast 1 Number<br/>Atleast 1 Special Character ($@#$!%*?&).">
            <i class="fa fa-info-circle"></i>
          </a> 
        </div>


        <div class="form-group"
             ng-class="{ 'has-error': form.confirmPassword.$dirty && (form.confirmPassword.$error.required || form.confirmPassword.$error.compareTo) }">
          <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required"
                class="help-block with-errors"><ul class="list-unstyled">
            <li>Confirm Password is required</li>
          </ul></span>
          <span ng-show="form.confirmPassword.$error.compareTo && !form.confirmPassword.$error.required"
                class="help-block with-errors"><ul class="list-unstyled">
            <li>Password and Confirm Password do not match</li>
          </ul></span>

          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                 ng-model="user.confirmPassword" compare-to="user.password" placeholder="Confirm password" required/>
          <!--<span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Confirm Password is required</span>
          <span ng-show="form.confirmPassword.$error.compareTo && !form.confirmPassword.$error.required"
                class="help-block">Password and Confirm Password do not match</span>-->
        </div>


        <div class="form-group">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button id="btn_individual" type="button" class="btn btn-transparent"
                      ng-click="userTypeChanged('individual')">Individual
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_team" type="button" class="btn btn-transparent" ng-click="userTypeChanged('team')">Team
            </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_org" type="button" class="btn btn-transparent" ng-click="userTypeChanged('organization')">
                Organization
              </button>
            </div>
          </div>

            <span ng-show="isUserTypeSelected != undefined && !isUserTypeSelected" class="help-block"
                  style="color:#a94442;">Please select Individual, Team or Organization</span>
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': form.teamOrOrgName.$dirty && form.teamOrOrgName.$error.required }">
          <input ng-hide="isIndividual" name="teamOrOrgName" type="text" class="form-control"
                 placeholder="{{belongTo.placeholder}}" ng-model="user.teamOrOrgName" ng-required='!isIndividual'/>
            <span ng-show="!isIndividual && form.teamOrOrgName.$dirty && form.teamOrOrgName.$error.required"
                  class="help-block">Required Field</span>
        </div>

        <div class="form-group">
          By signing up you agree to our <a href="#/termsOfService">Terms of Service</a> and <a href="#/privacyPolicy">Privacy
          Policy</a>.
        </div>

        <div class="form-group">
          <input type="submit" value="Sign Up" class="full-width"
                 ng-disabled="form.$invalid || isEmailExists || dataLoading">
        </div>
      </form>

      <p class="text-right no-account">
        Already have account<br/>
        <a href="#/login">Login ››</a>
      </p>
    </div>

  </div>
</div>