<div class="s-results margin-bottom-50" style="padding: 20px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:center;">
      <h1 class="normal font20">{{regMessage}}</h1>
      <div>We have sent an activation link to your email address. Please click on that link to activate your
        account.
      </div>
    </div>
  </div>
</div>