<div class="col-md-12 container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 user-type">
            <div>
                <span class="usertype-heading"> <center>Single User</center></span>

            </div>
            <div>
                <pre>

                Paid annually
                or month-to-month
                </pre>
            </div>
            <div class="button-row pricing-row center">
                <div class="personal-button-holder taller">
                    <a ui-sref="sgup({signUpType: 'individual'})" class="btn btn-blue register ajax_form_button"
                       ng-class="{'active': activeLink === 'sgup'}" ng-hide="activeLink === 'sgup'">
                        Start Free Trial &nbsp;►
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 user-type">
            <div>
                <span class="usertype-heading"><center>Team</center></span>
            </div>
            <div>

                <pre style="font-family:'Lato', Arial, sans-serif;">

                Paid annually
                or month-to-month
                </pre>
            </div>


            <div class="button-row pricing-row center">
                <div class="personal-button-holder taller">
                    <a class="btn btn-blue register ajax_form_button " ui-sref="sgup({signUpType: 'team'})"
                       ng-class="{'active': activeLink === 'signup1'}" ng-hide="activeLink === 'signup1'">
                        Start Free Trial &nbsp;►
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-3 user-type">
            <div>
                <span class="usertype-heading"><center>Organization</center></span>
            </div>
            <div>
            <pre>

                Paid annually
                or month-to-month
                </pre>
            </div>
            <div class="button-row pricing-row center">
                <div class="personal-button-holder taller">
                    <a class="btn btn-blue register ajax_form_button " ui-sref="sgup({signUpType: 'organization'})"
                       ng-class="{'active': activeLink === 'signup1'}" ng-hide="activeLink === 'signup1'">
                        Start Free Trial &nbsp;►
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>