<!DOCTYPE html>
<html lang="en" ng-app="gfcApp">
<head>
  <title ng-bind="title"></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"/>
  <meta name="author"/>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <style type="text/css">
    .ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin"/>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        
  <link rel="stylesheet" href="public/css/main_new.css"/>

  <link rel="stylesheet" href="assets/plugins/animate.css">
  <link rel="stylesheet" href="assets/line-icons/line-icons.css">
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css"
        type="text/css" media="screen">

  <!--[if lt IE 9]>
  <link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css"
        media="screen">
  <![endif]-->
</head>

<body class="header-fixed ng-cloak" ng-class="{'nav-open': isNavOpen}">

<div class="overlay overlay--navigation" ng-if="isNavOpen" ng-click="toggleNavigation()"></div>

<div class="wrapper">
  <div ng-controller="headerCtrl" ng-include="'modules/shared/partials/header.html'"></div>

  <div class="container-fluid content">
    <div class="main-container">
      <div ui-view ></div>
    </div>
  </div>

  <div ng-include="'modules/shared/partials/footer.html'"></div>

  <div id="loader" ng-show="dataLoading"></div>
</div>

<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-cookies.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-animate.js"></script>
<script src="lib/angulartics/0.20/angulartics.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.10/angular-md5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-md5/0.1.10/angular-md5.min.js.map"></script>

<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript"
        src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript"
        src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="assets/js/plugins/revolution-slider.js"></script>

<script src="modules/app.js"></script>
<script type="text/javascript" src="modules/register/register.js"></script>
<script type="text/javascript" src="modules/services/userService.js"></script>
<script type="text/javascript" src="modules/services/searchService.js"></script>
<script type="text/javascript" src="modules/router/router.js"></script>
<script type="text/javascript" src="modules/login/login.js"></script>
<script type="text/javascript" src="modules/search/search.js"></script>
<script type="text/javascript" src="modules/recentSearches/recent.js"></script>
<script type="text/javascript" src="modules/bookmarks/bookmarks.js"></script>
<script type="text/javascript" src="modules/cbc/cbc.js"></script>
<script type="text/javascript" src="modules/services/bookmarkService.js"></script>
<script type="text/javascript" src="modules/services/messageService.js"></script>
<script type="text/javascript" src="modules/register/activate.js"></script>
<script type="text/javascript" src="modules/dashboard/dashboard.js"></script>
<script type="text/javascript" src="modules/messages/messages.js"></script>
<script type="text/javascript" src="modules/shared/controllers/home.js"></script>
<script type="text/javascript" src="modules/shared/controllers/header.js"></script>
<script type="text/javascript" src="modules/shared/controllers/gfcTableController.js"></script>
<script type="text/javascript" src="modules/shared/directives/gfcCarousel.js"></script>
<script type="text/javascript" src="modules/shared/directives/gfcTable.js"></script>
<script type="text/javascript" src="modules/shared/filters/range.js"></script>
<script type="text/javascript" src="modules/shared/filters/trustAsHtml.js"></script>
<script type="text/javascript" src="modules/shared/filters/strLimit.js"></script>

<script type="text/javascript" src="modules/shared/utils.js"></script>
<script type="text/javascript" src="modules/forgotPassword/forgotPassword.js"></script>
<script type="text/javascript" src="modules/services/accountService.js"></script>
<script type="text/javascript" src="modules/myAccounts/myAccount.js"></script>

<script type="text/javascript" src="modules/team/userManagement.js"></script>

<script type="text/javascript" src="modules/team/createTeamMember.js"></script>

<script type="text/javascript" src="modules/team/editTeamMember.js"></script>

<script type="text/javascript" src="modules/organization/organization.js"></script>

<script type="text/javascript" src="lib/hotjar/hotjar.js"></script>

<script type="text/javascript">
  jQuery(document).ready(function () {

    setTimeout(function () {
      App.init();
    }, 0);
  });
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
</body>
</html>
