<div class="search-page cbc-chapter">

  <ng-include src="'modules/shared/partials/searchBox.html'" class="mobile-search-container"></ng-include>

  <div class="rate-panel">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-actions">
          <div class="col-md-4 block-action-heading">
            <div class="mobile-sketcher-changer"><a href="#">Search Results</a></div>
            <span class="sorting">Sorted By relevance</span>
          </div>
          <div class="col-md-4 action-value text-right">
            <ul class="nav-menu rounded">
              <li>
                <a href="javascript:void(0);" ng-click="toggleBookmark()" ng-class="{'bookmarked': IsBookmarked}">
                  <i class="icon bookmarks"></i>
                  Bookmark
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="icon clarify"></i>
                  Clarify
                </a>
              </li>
<!--               <li>
                <a href="javascript:void(0)">
                  <i class="icon share"></i>
                  Share
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-include="chapterUrl" onload="convertToInternalLinks()"></div>
</div>