<div class="messages-container">

  <ng-include src="'modules/shared/partials/searchBox.html'" class="mobile-search-container"></ng-include>

  <h3 ng-hide="chatsFound" style="margin-top:50px;text-align: center;">
    There are no Chats to show.
  </h3>

  <div class="rate-panel" ng-if="isLoggedIn && chatsFound">
    <div class="row">
      <div class="col-md-12">
        <div class="panel-actions">
          <div class="col-md-4 block-action-heading">
            <span><</span><a class="mobile-sketcher-changer" href="javascript:void(0)" ng-click="toggleChapterActive(false) ;">Messages</a>
                  <span class="sorting">
                    <div class="action-value">
                        <span style="font-size:12px;color:#737373;padding-top: 3px;cursor:pointer;padding-right:3px;"
                              ng-click="toggleSortOrder()">SORT BY SEARCH DATE</span>
                      <img ng-show="!isSortAsc" src="/assets/img/arrow_down.png"
                           style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                      <img ng-show="isSortAsc" src="/assets/img/arrow_up.png"
                           style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                    </div>
                  </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row search-results mobile-sketcher">
    <div id="messageList" class="col-sm-4 col-md-4 results-list mobile-sketcher-screen active" ng-if="isLoggedIn">
      <div class="result-block faded" ng-repeat="chat in chats"
           ng-class="{active: chat==selectedChat}"
           ng-click="showMessages(chat, true)">

        <div ng-class="{bold: !chat.read}" class="heading">{{chat.sectionId + " " + chat.sectionTitle}}</div>

        <p ng-class="{bold: !chat.read}" class="line-clamp">{{chat.question}}</p>
      </div>
    </div>

    <div class="col-md-8 col-sm-8 col-sm-offset-4 result-item lato mobile-sketcher-screen" ng-show="chatsFound"
         ng-class="isLoggedIn ? 'col-md-offset-4' : 'col-md-offset-2'">

      <div class="result-item-inner">

        <div class="result-block mb20px">
          <div class="heading">
            <div>
            	<a target="_blank" href="{{selectedChat.hyperlink}}">
		              <span class="green">{{selectedChat.sectionId}}</span>
		              {{selectedChat.sectionTitle}}            	
            	</a>
            </div>

            <p class="mt10px font13">{{selectedChat.question}}</p>
          </div>
        </div>

        <div class="result-block">
<!--           <p class="sender">{{message.userName}} {{message.commentedBy}}</p>
          <p>{{message.comment}}</p> -->
          
			<ul id="messages" class="floatleft">
		
			    <li ng-repeat="message in messages">
					<div class="messageBody" ng-class="{floatright: message.userName==userDetails.email}">
						<h3>{{message.userName}} {{message.commentedBy}}</h3>
						<p>{{message.comment}}</p>
					</div>
			    </li>		
		
			</ul>          
          
        </div>
      </div>


      <form ng-submit="reply(replyText)" name="messageForm" class="message-form" ng-show="!replySent">
        <div class="reply-box">
          <textarea placeholder="click here to reply" ng-click="isReplying = true"
                    ng-class="{'active': isReplying}" ng-model="replyText" required></textarea>
        </div>

        <div class="button-wrapper row" ng-show="isReplying">
          <div class="col-xs-6">
            <button type="submit" class="btn-rounded btn-small" ng-disabled="messageForm.$invalid">SEND</button>
          </div>

          <div class="col-xs-6">
            <a class="btn btn-transparent btn-link pull-right" ng-click="isReplying = false">Discard</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
