<div class="row">
  <div class="col-sm-4 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <div class="login-form signup">
      <div ng-if="formSubmitted" style="padding-bottom:20px;" ng-show="resetPasswdResponse" 
      	ng-class='{"error":!resetPasswdLinkSent, "normal center success":resetPasswdLinkSent}'>{{errorMessage}}</div>

      <div ng-if="!resetPasswdLinkSent" class="h1 text-blue">Password Reset</div>
      <div ng-if="!resetPasswdLinkSent" style="margin-bottom:20px;">We will send you a password reset link to your registered email</div>

      <form ng-if="!resetPasswdLinkSent" name="form" ng-submit="getResetPasswordLink(resetEmail)" role="form">

        <div class="form-group"
             ng-class="{ 'has-error': (form.email.$dirty && (form.email.$error.required || form.email.$error.pattern)) || invalidCredentials || invalidUsername || pendingUsername}">

          <span  ng-show="invalidCredentials" class="help-block with-errors"><ul class="list-unstyled"><li>Invalid email address or password.</li></ul></span>
          <span  ng-show="invalidUsername" class="help-block with-errors"><ul class="list-unstyled"><li>Invalid email address.</li></ul></span>
          <span  ng-show="pendingUsername" class="help-block with-errors"><ul class="list-unstyled"><li>Activation pending for this user. Kindly activate it.</li></ul></span>
          <span  ng-show="form.email.$dirty && form.email.$error.required" class="help-block with-errors"><ul class="list-unstyled"><li>Email is required</li></ul></span>
          <span  ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block with-errors"><ul class="list-unstyled"><li>Please enter valid email</li></ul></span>
          <input type="email" name="email" class="form-control" ng-model="resetEmail"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email" ng-focus="hideError()" required/>
        </div>
        <div class="form-actions form-group ">
          <input type="submit" class="full-width" value="Reset Password"
                  ng-disabled="form.$invalid || dataLoading" />
        </div>
      </form>
    </div>
  </div>
</div>
