<div class="search-page">

  <ng-include src="'modules/shared/partials/searchBox.html'" class="mobile-search-container"></ng-include>

  <h3 ng-hide="resultsFound" class="col-md-12 col-lg-12" style="margin-top:50px;text-align: center;">There are no
    recent searches to show.</h3>

  <div class="rate-panel" ng-show="resultsFound">
    <div class="row" ng-show="resultsFound">
      <div class="col-md-12">
        <div class="panel-actions">
          <div class="col-md-4 block-action-heading">
            <span><</span><a class="mobile-sketcher-changer" href="javascript:void(0)" ng-click="toggleChapterActive(false) ;">Recent Searches</a>
                  <span class="sorting">
                    <div class="action-value">
                        <span style="font-size:12px;color:#737373;padding-top: 3px;cursor:pointer;padding-right:3px;display: inline-block;"
                              ng-click="toggleSortOrder()">SORT BY SEARCH DATE</span>
                      <img ng-show="!isSortAsc" src="/assets/img/arrow_down.png"
                           style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                      <img ng-show="isSortAsc" src="/assets/img/arrow_up.png"
                           style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                    </div>
                  </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row search-results mobile-sketcher"  ng-show="resultsFound">
    <div id="recentQuestions" class="col-sm-4 col-md-4 results-list mobile-sketcher-screen active">
      <a href="#" class="result-block bookmark" ng-repeat="result in recentResults | orderBy:sortFunction"
         ng-click="searchQuery($event, $index)" ng-class="{active: $index==currentIndex}" data-index={{result.id}}>
        <div class="tagline">
          <span class="title">{{result.question}}</span>
          <span class="date" clean-date= "{{result.createdDate}}"></span>
        </div>
      </a>
    </div>

    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 result-item lato mobile-sketcher-screen">
      <div ng-hide="answerFound" style="text-align:center;margin-top:50px;font-size:20px;">No Search Results were found for this Query.</div>
      <div  ng-show="answerFound" class="result-item-inner">
        <a href="javascript:void(0)" class="result-block" ng-repeat="result in searchResults"
           ng-click="gotoSearchPage($event, $index)">
          <div class="heading">{{result.sectionSequenceId + " " + result.sectionSequenceTitle}}</div>
                <span ng-show="$index==0" class="highlight"
                      style="color:#72c02c!important;font-size: 13px;">BEST MATCH</span>
          <p ng-bind-html="result.body | trustAsHtml" class="chapter-link"></p>
        </a>

      </div>
    </div>
  </div>

</div>
