<div class="search-history-container">
    <div class="col-md-7 pull-right">

        <a href="#/createTeam" class="btn btn-transparent btn-rounded"
           style="margin: 5px;background-color: #29b866;border-color:#29b866;color: white;">
            <b><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Team </b>

            </button></a>


    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-7">
                        <table class="table table-bordered table-striped" style="margin-top: 10px;">
                            <thead>
                            <tr>
                                <th>#S.NO</th>
                                <th>TeamId</th>
                                <th>Name</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="result in teamList">
                                <td class="col-xs-1">{{result.length}}</td>
                                <td class="col-xs-1">{{result[0]}}</td>
                                <td class="col-xs-2"><a href="#/userManagement">{{result[1]}}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <div class="col-md-3" style="margin-top: 48px;">

                         <p ng-repeat="n in [] | range:5">
                             <a href="#/createTeamMember" class="btn btn-transparent btn-rounded"
                                style="font-weight: 300;padding: 3px 30px;background-color: #29b866;border-color:#29b866;color: white;">
                                 View Details...</a>
                         </p>

                     </div>-->
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <!-- <div class="text-center">
         <button class="btn" ng-click="prev()" ng-disabled="disablePrev">< Prev</button>
         <button class="btn" ng-click="next()" ng-disabled="disableNext">Next ></button>
     </div>-->
</div>