<!--=== Content Part ===-->
<div class="container">
    <div class="title-box-v2">
        <h2>
            <img src="assets/img/GoFetchCode_Logo_50.png" /></h2>
        <p> GoFetchCode, powered by IBM Watson&#8482;, is the premier cognitive app that distills the millions of pages of federal, state, and local codes to answer regulatory questions in a snap.</p>
        <p>
            Ask GoFetchCode your question and it uses IBM Watson’s natural language processing to read and find answers in the code while easily linking you to other relevant sections.</p>
        <p>GoFetchCode is a partnership of IBM Watson and ENGEO Incorporated. ENGEO is a leading provider of geotechnical, environmental, and hydrologic engineering, with over 45 years of experience navigating the regulatory environment.</p>
        <p>GoFetchCode is mobile and tablet friendly. Find what you need wherever you are.
        </p>
    </div>

    <!-- About Sldier -->
    <div class="shadow-wrapper margin-bottom-50">
        <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
            <ol class="carousel-indicators">
                <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="assets/img/new/About/HPCPc.jpg" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/new/About/SFOBBc.jpg" alt="">
                </div>
                <div class="item">
                    <img class="img-responsive" src="assets/img/new/About/SFTIc.jpg" alt="">
                </div>
            </div>

            <div class="carousel-arrow">
                <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#myCarousel" class="right carousel-control">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- End About Sldier -->


</div>
<!--=== End Content Part ===-->

<!--=== Parallax About Block ===-->
<div class="parallax-bg parallaxBg1">
    <div class="container content parallax-about">
        <div class="title-box-v2">
            <h2>About <span class="color-green">ENGEO</span></h2>
            <p>ENGEO is an employee-owned firm of geotechnical and civil engineers, geologists, hydrologists, environmental scientists, and construction quality assurance field representatives. Founded in 1971, we have offices throughout California and New Zealand. </p>
            <p>
                ENGEO serves projects in transportation; infrastructure; water storage, conveyance and treatment; industrial facilities; geologic hazard mitigation; flood control facilities; civic structures; healthcare; education; energy; manufacturing; ports, harbors and waterfront development; residential and mixed-use communities; and urban development. We assist in every phase of projects from the due diligence for land acquisition and planning through entitlement, permitting, engineering design, construction and project build-out. </p>
            <p>
                Click <a href="http://www.engeo.com">here</a> to learn more about ENGEO.
            </p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x icon-bell"></i>
                    <div class="overflow-h">
                        <h3>The Big Question </h3>
                        <p>Why is it that a major earthquake in New Zealand kills 187 people but the same earthquake in Haiti kills 230,000? </p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-magic"></i>
                    <div class="overflow-h">
                        <h3>Engineering Saves Lives</h3>
                        <p>There is knowledge about design and construction of buildings, infrastructure, transportation and water conveyance structures….all the things to which Civil Engineers contribute on a daily basis.  But this knowledge is only limited to those who can afford it, such as developed nations with the wealth to support and nurture an educated society.</p>
                    </div>
                </div>
                <div class="banner-info dark margin-bottom-10">
                    <i class="rounded-x fa fa-thumbs-o-up"></i>
                    <div class="overflow-h">
                        <h3>What If Access is the Solution?</h3>
                        <p>What if this knowledge was available to those people or countries that could not afford the latest engineering? What if they had access to some simple online engineering assistance so that they could safely design the fixed engineering works that have helped humankind stave off disease, allowed civilizations to flourish, and improved the quality of life? We thought, maybe Watson could do this with our help by developing GoFetchCode.</p>
                    </div>
                </div>
                <div class="margin-bottom-20"></div>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="assets/img/new/SideImageConstruction.jpg" alt="">
            </div>
        </div>
    </div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->

<!--=== Parallax About Block ===-->
<div >
    <div >
        <div class="title-box-v2">
            <h2>
                <img src="assets/img/new/Logos/IBM_Watson_hrz_pos_b_sm.png" /></h2>

            <p>From hospitals to kitchens, Watson has clocked in to work and is already taking impressive strides across industries. But to understand the power of Watson, we must first understand cognitive computing and how it enhances, scales, and accelerates human expertise.</p>
            <p>
                Watson is built to mirror the same learning process that we have – through the power of cognition. What drives this process is a common cognitive framework that humans use to inform their decisions: Observe, Interpret, Evaluate, and Decide. </p>
            <p>
                Unlike other computing systems, Watson takes in data from all sorts of sources, from research reports to Tweets. All the information humans produce for other humans to consume. But importantly, Watson is not bound by volume or memory; Watson can read millions of unstructured documents in seconds. In fact, one instance of Watson can consume 30,000 documents per day.
            </p>
            <p>
                Click <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">here</a> to learn more about IBM Watson.
            </p>
        </div>


    </div><!--/container-->
</div>
<!--=== End Parallax About Block ===-->

<!--=== Meet Our Team ===-->
<div class="parallax-team parallaxBg">
    <div class="container content">
        <div class="title-box-v2">
            <h2>Meet Our <span class="color-green">Team</span></h2>

        </div>

        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/UE.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Uri <br> Eliahu</h3>
                        <small class="color-green">CEO, Chief Officer</small>
                        <p>Visionary behind GoFetchCode.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social"  style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/MG.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Mark <br> Gilbert</h3>
                        <small class="color-green">Project Manager</small>
                        <p>Financial wizard and co-visionary.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/Alan.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Alan <br> Moreira</h3>
                        <small class="color-green">Technical</small>
                        <p>Programmer and technical guru.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/CA.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Carrie <br> Andreotti</h3>
                        <small class="color-green">Content</small>
                        <p>Writer and content creator.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->
        </div>

        <div class="row">
            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/BV.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Brandie <br> Van Vliet</h3>
                        <small class="color-green">Content</small>
                        <p>Watson Ingestion Expert</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/JK.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Janet <br> Kan</h3>
                        <small class="color-green">Engineering</small>
                        <p>One of our regulatory experts.<p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/Abram.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Abram <br> Magel</h3>
                        <small class="color-green">Engineering</small>
                        <p>One of our regulatory experts.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->

            <!-- Team v2 -->
            <div class="col-md-3 col-sm-6">
                <div class="team-v2">
                    <img class="img-responsive" src="assets/img/new/Team/CL.jpg" alt="" />
                    <div class="inner-team">
                        <h3>Catherine <br> Lewis</h3>
                        <small class="color-green">Content</small>
                        <p>Writer and content creator.</p>
                        <hr style="display: none;">
                        <ul class="list-inline team-social" style="display: none;">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Team v2 -->
        </div>
    </div>
</div>
<!--=== End Meet Our Team ===-->