<!--=== Search Block ===-->

<!--/container-->
<!--=== End Search Block ===-->

<!--=== Search Results ===-->
<div class="container s-results margin-bottom-50" style="padding: 20px;">
    <div class="row">
        <div class="col-md-2 hidden-xs related-search">
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">
                        <img src="assets/img/new/Logos/IBM_Watson_PoweredBy_pos_150.png" />
                    </a>
                    <hr>
                </div>
                <div class="col-md-12 col-sm-6">
                    <h3>Sample questions</h3>
                    <ul class="list-unstyled">
                        <li><a href="/#/ask?question=What%20presumptive%20load-bearing%20values%20may%20be%20used%20for%20foundations%3F">What presumptive load-bearing values may be used for foundations?</a></li>
                        <li><a href="/#/ask?question=What%20are%20the%20minimum%20ground%20slope%20requirements%20next%20to%20foundations%3F">What are the minimum ground slope requirements next to foundations?</a></li>
                        <li><a href="/#/ask?question=What%20structural%20observations%20are%20required%20for%20seismic%20resistance%3F">What structural observations are required for seismic resistance?</a></li>
                    </ul>
                    <hr>
                </div>

                <div class="col-md-12 col-sm-6">
                    <h3>Bookmarks</h3>
                    <ul class="list-unstyled">
                        <li><a href="/#/ask?question=Are%20special%20inspections%20required%20for%20deep%20foundations%3F">Are special inspections required for deep foundations?</a></li>
                        <li><a href="/#/ask?question=When%20is%20in-situ%20load%20tests%20required%3F">‎When is in-situ load tests required?</a></li>
                        <li><a href="/#/ask?question=What%20table%20describes%20the%20requirements%20for%20inspection%20of%20deep%20foundation%20elements%3F">‎What table describes the requirements for inspection of deep foundation
                            elements?</a></li>
                    </ul>
                    <hr>
                </div>

                <div class="col-md-12 col-sm-6">
                    <h3>Popular Searches</h3>
                    <ul class="list-unstyled">
                        <li><a href="/#/ask?question=What%20are%20the%20requirements%20for%20concrete%20inspection%3F">What are the requirements for concrete inspection?</a></li>
                        <li><a href="/#/ask?question=Which%20ACI%20standard%20discusses%20welding%20inspection%20for%20reinforcing%20steel%3F">Which ACI standard discusses welding inspection for reinforcing steel?</a></li>
                        <li><a href="/#/ask?question=What%20are%20the%20design%20requirements%20for%20retaining%20walls%3F">What are the design requirements for retaining walls?</a></li>
                        <li><a href="/#/ask?question=What%20must%20a%20special%20inspection%20include%20for%20sprayed%20fire-resistant%20materials%3F">What must a special inspection include for sprayed fire-resistant materials?</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
        <!--/col-md-2-->

        <div class="col-md-10">
            <h1>Discover the California Building Code (CBC)</h1>
            <br>
            <form class="sky-form page-search-form">
                <div class="input-group">
                    <input type="email" ng-model="email" class="form-control" placeholder="Email" style="width: 250px;" required /><span style="font-size: x-large; color: red;">*</span>
                </div>
                <div class="input-group">
                    <input type="text" ng-model="question" class="form-control" style="width: 600px;" placeholder="Please enter your question" required />
                    <button id="askButton" ng-click="submitQuestion(true)" class="btn-u btn-u-blue"><span ng-show="busy" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> fetch!</button>
                    &nbsp;
                    <button id="feedbackButton" class="btn-u btn-u-blue" data-toggle="modal" data-target="#myModal" ng-disabled="responses == null || responses.length == 0">Feedback</button>
                </div>
            </form>
            <br>
            <!-- Begin Result List-->
            <!-- Begin Each Result -->
            <div ng-repeat="response in responses" class="inner-results">
                <h3>
                    <a href="{{response.hyperlink}}" target="cbc_frame">
                        <img src="assets/img/new/Logos/IBM_Watson_avatar_simple_2color_25.png" />
                        {{response.sectionNumber}}
                        {{response.sectionName}}
                    </a>
                </h3>
                <!-- Smallest Progress Bar -->

                <h3 class="heading-xs">Answer Confidence: {{response.confidence | number:0}}</h3>
                <progressbar type="success" value="response.confidence" style="height: 3px" />
            </div>
            <!-- End Smallest Progress Bar -->
        </div>
        <!-- End Each Result -->

        <!-- End Result List-->
        <div class="margin-bottom-30"></div>
    </div>
    <!--/col-md-10-->
</div>
</div>
<!--/container-->
<!--=== End Search Results ===-->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please provide us your feedback</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="rating">How helpful were the resuls:</label>
                        <select class="form-control" id="rating" ng-model="rating" ng-options="rating.id as rating.label for rating in ratings"></select>
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments:</label>
                        <textarea class="form-control" id="comments" ng-model="comments" placeholder="Enter password" />
                    </div>
                    <button type="button" class="btn btn-default" ng-click="provideFeedback()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div style="color: green; font-weight: bold; font-size: larger; float: right">{{message}}</div>
                </form>
            </div>
        </div>
    </div>
</div>