  <style>
  	.privacy-policy a {
  		color: #337ab7!important;
  	}
  </style>
  <div class="row-fluid privacy-policy" style="padding-top: 30px;">
	  <div class="row-fluid">
		<h3>Privacy Policy</h3>
		<h5>Last updated: April 21, 2016</h5><br/>
	  </div>
	  <div class="row-fluid">
		<p>
			ENGEO Software Services L.L.C. ("us", "we", or "our") operates the http://www.gofetchcode.com website and the GoFetchCode mobile 
			application (the "Service").
		</p>
		
		<p>
			This page informs you of our policies regarding the collection, use and disclosure of Personal 
			Information when you use our Service.
		</p>
		
		<p>We will not use or share your information with anyone except as described in this Privacy Policy.</p>
		
		<p>
			We use your Personal Information for providing and improving the Service. By using the Service, 
			you agree to the collection and use of information in accordance with this policy. Unless 
			otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same 
			meanings as in our Terms and Conditions.
		</p>	
		
	  </div> 
	  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Information Collection And Use</h5>
		<p>
			While using our Service, we may ask you to provide us with certain personally identifiable 
			information that can be used to contact or identify you. Personally identifiable information may 
			include, but is not limited to, your email address, name, phone number, postal address, other 
			information ("Personal Information"). We collect this information for the purpose of providing 
			the Service, identifying and communicating with you, responding to your requests/inquiries, 
			servicing your purchase orders, and improving our services.	
		</p>
	  </div> 
	  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Log Data</h5>
		<p>
			We may also collect information that your browser sends whenever you visit our Service or when you 
			access the Service by or through a mobile device ("Log Data").	
		</p>
		
		<p>
			This Log Data may include information such as your computer's Internet Protocol ("IP") address, 
			browser type, browser version, the pages of our Service that you visit, the time and date of your 
			visit, the time spent on those pages and other statistics.	
		</p>
		
		<p>
			When you access the Service by or through a mobile device, this Log Data may include information 
			such as the type of mobile device you use, your mobile device unique ID, the IP address of your 
			mobile device, your mobile operating system, the type of mobile Internet browser you use and other 
			statistics.	
		</p>
		
		<p>
			In addition, we may use third party services such as Google Analytics that collect, monitor and 
			analyze this type of information in order to increase our Service's functionality. These third party 
			service providers have their own privacy policies addressing how they use such information.	
		</p>
		
		<p>
			Please see the section regarding Location Information below regarding the use of your location 
			information and your options.	
		</p>				
	  </div> 
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Location Information</h5>
		<p>
			We may use and store information about your location depending on the permissions you have set 
			on your device. We use this information to provide features of our Service, to improve and 
			customize our Service. You can enable or disable location services when you use our Service at 
			anytime, through your mobile device settings.
		</p>
	  </div> 
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Cookies</h5>
		<p>
			Cookies are files with a small amount of data, which may include an anonymous unique identifier. 
			Cookies are sent to your browser from a web site and transferred to your device. We use cookies to 
			collect information in order to improve our services for you.
		</p>
		<p>
	
			You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. 
			The Help feature on most browsers provide information on how to accept cookies, disable cookies or 
			to notify you when receiving a new cookie.
		</p>
		<p>
			If you do not accept cookies, you may not be able to use some features of our Service and we 
			recommend that you leave them turned on.
		</p>		
	  </div>
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>DoubleClick Cookie</h5>
		<p>
			Google, as a third party vendor, uses cookies to serve ads on our Service. Google's use of the 
			DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to 
			our Service or other web sites on the Internet.
		</p>
		<p>
			You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting 
			the Google Ads Settings web page: <a href="http://www.google.com/ads/preferences/">http://www.google.com/ads/preferences/</a>
		</p>		
	  </div>
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Behavioral Remarketing</h5>
		<p>
			ENGEO Software Services L.L.C. uses remarketing services to advertise on third party web sites to 
			you after you visited our Service. We, and our third party vendors, use cookies to inform, 
			optimize and serve ads based on your past visits to our Service.
		</p>
		<h5>Google</h5>
		<p>
			<ul>
				<li>
					Google AdWords remarketing service is provided by Google Inc.
				</li>
				<li>
					You can opt-out of Google Analytics for Display Advertising and customize the Google Display Network 
					ads by visiting the Google Ads Settings page: <a href="http://www.google.com/settings/ads">http://www.google.com/settings/ads</a>
				</li>			
				<li>
					Google also recommends installing the Google Analytics Opt-out Browser Add-on - 
					<a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a> - for your web browser. 
					Google Analytics Opt-out Browser Add-on provides visitors with the ability to prevent their data from being collected and used by 
					Google Analytics.
				</li>			
				<li>
					For more information on the privacy practices of Google, please visit the Google Privacy & Terms 
					web page: <a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a>
				</li>						
			</ul>
		</p>
		<h5>Twitter</h5>
		<p>
			<ul>
				<li>
					Twitter remarketing service is provided by Twitter Inc.
				</li>
				<li>
					You can opt-out from Twitter's interest-based ads by following their instructions: 
					<a href="https://support.twitter.com/articles/20170405">https://support.twitter.com/articles/20170405</a>
				</li>			
				<li>
					You can learn more about the privacy practices and policies of Twitter by visiting their 
					Privacy Policy page: <a href="https://twitter.com/privacy">https://twitter.com/privacy</a>
				</li>									
			</ul>
		</p>
		<h5>AdRoll</h5>
		<p>
			<ul>
				<li>
					AdRoll remarketing service is provided by Semantic Sugar, Inc.
				</li>
				<li>
					You can opt-out of AdRoll remarketing by visiting this AdRoll Advertising Preferences 
					web page: <a href="http://info.evidon.com/pub_info/573?v=1&nt=1&nw=false">http://info.evidon.com/pub_info/573?v=1&nt=1&nw=false</a>
				</li>			
				<li>
					For more information on the privacy practices of AdRoll, please visit the AdRoll 
					Privacy Policy web page: <a href="http://www.adroll.com/about/privacy">http://www.adroll.com/about/privacy</a>
				</li>									
			</ul>
		</p>				
	  </div> 
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Do Not Track Disclosure</h5>
		<p>
			We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to 
			inform websites that you do not want to be tracked.
		</p>
		<p>
			You can enable or disable Do Not Track by visiting the Preferences or Settings page of your 
			web browser.
		</p>		
	  </div>  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Service Providers</h5>
		<p>
			We may employ third party companies and individuals to facilitate our Service, to provide the 
			Service on our behalf, to perform Service-related services and/or to assist us in analyzing how 
			our Service is used.
		</p>
		<p>
			These third parties have access to your Personal Information only to perform specific tasks on 
			our behalf and are obligated not to disclose or use your information for any other purpose.
		</p>		
	  </div>  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Communications</h5>
		<p>
			We may use your Personal Information to contact you with newsletters, marketing or promotional 
			materials and other information that may be of interest to you. You may opt out of receiving any, 
			or all, of these communications from us by following the unsubscribe link or instructions provided 
			in any email we send.
		</p>		
	  </div> 
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Compliance With Laws</h5>
		<p>
			We will disclose your Personal Information where required to do so by law or subpoena or if 
			we believe that such action is necessary to comply with the law and the reasonable requests of 
			law enforcement or to protect the security or integrity of our Service.
		</p>		
	  </div>
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Business Transaction</h5>
		<p>
			If ENGEO Software Services L.L.C. is involved in a merger, acquisition or asset sale, your 
			Personal Information may be transferred as a business asset. In such cases, we will provide 
			notice before your Personal Information is transferred and/or becomes subject to a different 
			Privacy Policy.
		</p>		
	  </div>     
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Security</h5>
		<p>
			The security of your Personal Information is important to us, and we strive to implement 
			and maintain reasonable, commercially acceptable security procedures and practices 
			appropriate to the nature of the information we store, in order to protect it from 
			unauthorized access, destruction, use, modification, or disclosure.
		</p>
		<p>
			However, please be aware that no method of transmission over the internet, or method of 
			electronic storage is 100% secure and we are unable to guarantee the absolute security of 
			the Personal Information we have collected from you.
		</p>			
	  </div>  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>International Transfer</h5>
		<p>
			Your information, including Personal Information, may be transferred to - and maintained 
			on - computers located outside of your state, province, country or other governmental 
			jurisdiction where the data protection laws may differ than those from your jurisdiction.
		</p>
		<p>
			If you are located outside United States and choose to provide information to us, 
			please note that we transfer the information, including Personal Information, to 
			United States and process it there.
		</p>
		<p>
			Your consent to this Privacy Policy followed by your submission of such information 
			represents your agreement to that transfer.
		</p>				
	  </div> 
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Links To Other Sites</h5>
		<p>
			Our Service may contain links to other sites that are not operated by us. If you click on a 
			third party link, you will be directed to that third party's site. We strongly advise you to 
			review the Privacy Policy of every site you visit.
		</p>
		<p>
			We have no control over, and assume no responsibility for the content, privacy policies or 
			practices of any third party sites or services.
		</p>				
	  </div>  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Children's Privacy</h5>
		<p>
			Only persons age 18 or older have permission to access our Service. Our Service does not address 
			anyone under the age of 13 ("Children").
		</p>
		<p>
			We do not knowingly collect personally identifiable information from children under 13. If you are 
			a parent or guardian and you learn that your Children have provided us with Personal Information, 
			please contact us. If we become aware that we have collected Personal Information from a children 
			under age 13 without verification of parental consent, we take steps to remove that information 
			from our servers.
		</p>				
	  </div>  
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Changes To This Privacy Policy</h5>
		<p>
			This Privacy Policy is effective as of April 21, 2016 and will remain in effect except with 
			respect to any changes in its provisions in the future, which will be in effect immediately 
			after being posted on this page.
		</p>
		<p>
			We reserve the right to update or change our Privacy Policy at any time and you should check 
			this Privacy Policy periodically. Your continued use of the Service after we post any 
			modifications to the Privacy Policy on this page will constitute your acknowledgment of the 
			modifications and your consent to abide and be bound by the modified Privacy Policy.
		</p>
		<p>
			If we make any material changes to this Privacy Policy, we will notify you either through the 
			email address you have provided us, or by placing a prominent notice on our website.
		</p>					
	  </div>   
	  <div class="row-fluid" style="padding-top: 5px;">
		<h5>Contact Us</h5>
		<p>
			If you have any questions about this Privacy Policy, please contact us.
		</p>					
	  </div>  
  </div>