<div class="search-page">
  <div class="rate-panel clearfix" ng-show="chaptersFound">
    <div class="row">
      <div class="col-md-5 col-sm-4 rate-block">
        <div class="panel-head">
          <div class="row">
            <div class="col-md-6 col-sm-6 block-action-heading hidden-sm">
              <a href="#">PLEASE, RATE THIS ANSWER</a>
            </div>
            <div class="col-md-6 action-value">
              <div class="rating">
                <div class="icon star" ng-repeat="n in [] | range:5"
                     ng-click="rateSearchResponse(5-n)"
                     ng-class="{'active': (n > (4 - responseRating))}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel-actions">
          <div class="col-md-4 col-sm-4 block-action-heading">
            <div class="mobile-sketcher-changer"><span><</span><a href="javascript:void(0)" ng-click="toggleChapterActive(false) ;">Search Results</a></div>
            <span class="sorting">Sorted By relevance</span>
          </div>
          <div class="col-md-3 col-sm-2 col-xs-3 action-value text-right">
            <ul class="nav-menu rounded" style="float: right !important;">
              <li class="visible-xs visible-sm hidden-md">
                <a href="javascript:void(0);" ng-click="saveHighlight(selection)" title="Highlight">
                  <i class="icon share"></i>
                  <span class="hidden-sm">Highlight</span>
                </a>
              </li>            
              <li>
                <a href="javascript:void(0);" ng-click="toggleBookmark()" title="Bookmark"
                ng-class="{'bookmarked': IsBookmarked}">
                  <i class="icon bookmarks"></i>
                  <span class="hidden-sm">Bookmark</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" data-toggle="modal" title="Clarify" data-target="#clarifyModal">
                  <i class="icon clarify"></i>
                  <span class="hidden-sm">Clarify</span>
                </a>
              </li>
<!--               <li>
                <a href="javascript:void(0)">
                  <i class="icon share"></i>
                  <span class="hidden-sm">Share</span>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-include src="'modules/shared/partials/searchBox.html'" class="visible-xs visible-sm"></ng-include>

  <div class="row" ng-hide="chaptersFound">
    <h3 class="col-md-12 col-lg-12" style="margin-top:50px; text-align:center;">{{message}}</h3>
  </div>

  <div class="row search-results mobile-sketcher" ng-show="chaptersFound">
    <div id="searchResults" class="col-sm-4 col-md-4 results-list mobile-sketcher-screen active">
      <div class="result-block faded" ng-repeat="result in searchResults"
           ng-class="{active: $index==currentIndex}"
           on-finish-render="ngRepeatFinished">
        <div class="heading">{{result.sectionNumber + " " + result.sectionName}}</div>
        <div ng-show="$index==0" class="highlight" style="color:#72c02c!important;font-size: 13px;">BEST MATCH</div>

        <p class="line-clamp" ng-bind-html="result.answer | trustAsHtml"></p>

        <div class="overlay" ng-click="showDescription($event, $index)" sectionNumAttr="{{result.sectionNumber}}" sectionNameAttr="{{result.sectionName}}"></div>
      </div>
    </div>

    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 result-item mobile-sketcher-screen">
      <div id="searchedChapter" ng-mouseup="showPopup($event)"></div>
    </div>
  </div>
  <button id="highlightDiv" class="arrow_box hidden-xs hidden-sm" ng-click="saveHighlight(selection)">Highlight</button>
  <div ng-include="'modules/shared/partials/clarifyModal.html'"></div>
</div>

