.btn, button, input[type="submit"], input[type="button"], button, input[type="submit"], input[type="button"]{
	@extend .btn;
	@extend .btn-default;

	font-weight: 300;
	padding: 6px 15px;

	&.btn-rounded{
		border-radius: 35px;
	}
	&.btn-transparent{
		background-color: transparent;
		border-color: transparent;
		color: $green-v5;
	}

	&.btn-small{
		line-height: 12px;
	}

	&.active{
		background-color: $green-v5;
		box-shadow: none;

		&:active,&:focus{
			outline: none;
		}
	}
	&:active,&:focus{
		outline: none;
	}

	&:focus {
		color: #fff;
		background-color: $green-v5;
	}
}
textarea{
	border: 1px solid $gray-v2;
	border-radius: 1px;
	padding: 5px 10px;
}

.btn, .btn:hover {
	background-color: $green-v5;
	border-color: $green-v5;
	color: white;
}