$gray-base: #000 !default;
$gray-darker: darken($gray-base, 13.5%) !default; // #222
$gray-dark: #00141e; // #333
$gray: #7b868d; // #555
$gray-middle: #a1a8ad;
$gray-middle-darker: darken($gray-middle, 10%) !default;
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee
$gray-menu: #eceeef;
$gray-v2: #aab1b5;

$green: #219452;
$green-lighter: #45c17a;
$green-darker: #2ecc71;
$green-v2: #9fa7ac;
$green-v3: #3cbd73;
$green-v4: #bfead1;
$green-v5: #29b866;
$green-lato-bg: #d8f2e3;

$blue-text: #123752;
$blue-text-darker: #00141e;
$blue-elements: #1b547d;

$logo-color: #43525c;