/*Footer-v1
------------------------------------*/
.footer-logo {
    margin: 17px 0 20px;
}
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
.latest-list li {
    border-top: 1px solid #353535;
    padding: 8px 0;
}
.latest-list li:first-child {
    border-top: medium none;
    padding-top: 0;
}
.link-list li i {
    color: #bbb;
    float: right;
    margin-top: 10px;
}
.latest-list li a, .latest-list li .pseudo-link {
    color: #eee;
}
.latest-list small {
    color: #999;
    display: block;
}
.about-me h2, .about-my-goals h2, .link-list a, .link-list .pseudo-link, .title-box-v2 h2 {
    text-transform: uppercase;
}
.link-list a, .link-list .pseudo-link {
    color: #eee;
    display: inline-block;
    font-size: 11px;
    padding: 6px 0;
}
.footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list .pseudo-link, .footer-v1 .link-list i {
    color: #eee;
}
.footer-v1 .footer {
	padding: 40px 0;	
	background: #272727;
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: rgba(0, 0, 0, 0) url("../images/map-img.png") no-repeat scroll 5px 60px;
}

/*Copyright*/
.footer-v1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color: #777;
	font-size: 16px;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}

@media (max-width: $screen-xs-max) {
	.marginBottom120{
	  margin-bottom : 120px ;
	}
}
