.panel-styled-select{
	-webkit-appearance: none;
   	   -moz-appearance: none;
            appearance: none;

    color: $gray;
    text-transform: uppercase;
    line-height: 20px;
    border: 0;
    background-color: transparent;

    &:focus{
    	outline: none;
    	outline-width: 0;
    }

}

.form-control{
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    height: 39px;
	padding: 6px 10px;
	color: $blue-text;

	&:focus{
		border-color: #526069;
		box-shadow: 0 0 0;
	}
}

.form-group{
	position: relative;
	.password{
		&::after{
			@extend .icon;
			@extend .password;
			content: '';
			position: absolute;
			right: 15px;
			bottom: 15px;

		}
	}
	.help-block{
		margin: 0;
		position: relative;
    	top: 3px;
		&.with-errors{
			ul{
				background-color: #e73c3c;
			    margin: 0;
			    border-radius: 5px 5px 0 0;
			    color: #fff;
				li{
					padding: 10px;
					color: white;
				}
			}
		}
	}
	&.has-error{
		.form-control{
			border-color: #e73c3c;
			box-shadow: 0 0 0;
			z-index: 3;
    		position: relative;
		}
	}
}
.checkbox{
	color: $logo-color;
}
.login-form{
	padding-top: 30px;
	position: relative;
	max-width: 500px;
	margin: 0px auto;

	form{
		margin-bottom: 10px;
	}
	.checkbox{font-size: 12px;}
	.edit-account{
			 @extend text-right !optional;
	}
	.h1{
		font-size: 36px;
		text-transform: none;
		margin: 20px 0;
		font-weight: 500;
	}
	p{
		margin-bottom: 30px;
	}
	input[type="submit"]{
		font-weight: bold;

		&:hover {
			background-color: $green-v5;
			border-color: $green-v5;
			color: white;
		}
	}
	.no-account{
		position: absolute;
		top: 50px;
		right: 0;
	}
	&.signup{
		.btn-group{
			.btn{
				border-color: #a2a9ae;
				border-right-width: 0px;
			}
			.btn-group{
				&:last-child{
					.btn{
						border-right-width: 1px;
					}
				}
			}
			.btn,button{

				&.active{
					background-color: $green-v5;
					border-color: $green-v5;
					box-shadow: none;
					color: white;

					&:active,&:focus{
						outline: none;
					}
				}
				&:active,&:focus{
					outline: none;
				}
			}

		}
	}

}
.search-form{
	@extend .login-form;
	padding-top: 80px;
	max-width: 800px;
	.logo{
		margin-bottom: 40px;
	}

	.nested-search{

		&:hover{

			input{
				border-color: $green;
			}
			.submit-comb-search{
				background-color: $green;
				cursor: pointer;
			}
		}


		input[type="submit"]{
			width: 50px;
			float: left;
			text-indent: -9999px;
			height: 52px;
			position: relative;
			border-radius: 0 10px 10px 0;
		}
		.search-submit{
			display: inline-block;
			overflow: hidden;
			position: relative;


		}

	}
}
.search-examples{
	margin-top: 30px;

	.heading{
		font-size: $font-size-h4;
		color: $green-v5;
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 10px;
		font-size: 24px;
		font-weight: 300;
	}
}
.comb-search-location{
	padding-top: 8px;
	overflow: hidden;

	&.dt,.dt,&.dr,.dr{
		width: 100%;
	}
	.dc{
		float: none;
    	width: initial;
    	vertical-align: top;
	}

	select{
		border:none;
	    outline:none;
	    display: inline-block;
	    -webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    cursor:pointer;
	    background-color: transparent;
	    position: relative;
	    padding-right: 10px;
	}


	.search-location{
		padding: 5px 10px;
		background-color: #fff;
		border: 2px solid #29b866;
		border-radius: 6px 0 0 6px;
		border-right: 1px solid #c7cbce;
		line-height: 24px;
		box-sizing: border-box;
		width:auto;
		float: left;
		width: auto; box-sizing: border-box; float: none;overflow: hidden;

		&:after {
		    content:'>';
			font-size: 14px;
		    color:$blue-text;
		    -webkit-transform:rotate(90deg);
		    -moz-transform:rotate(90deg);
		    -ms-transform:rotate(90deg);
		    transform:rotate(90deg);
		    padding:0;
		    position:absolute;
		    pointer-events:none;
		    margin: 1px 0 0 -7px;
		    right: 10px;
		    top: 7px;
		}
	}
	.comb-search{
		&.small{
			overflow: hidden;
			float: none;
			input{
				border-left-width: 0px;
				border-radius: 0;
				overflow: hidden;
			    resize: none;
			    white-space: nowrap;
			}
		}

	}
	&:hover{
		border-color: $green;
		.submit-comb-search,input{
			border-color: $green;
			background-color: transparent;
		}
	}
}
.comb-search{
	display: table;
	min-width: 100%;

	input{
		width: 100%;
		border-radius: 10px 0 0 10px;
    	border: 2px solid #29b866;
    	border-right-width: 0;
    	padding: 6px 10px;
    	display: table;
    	resize: none;
    	height: 44px;
    	font-size: 18px;

    	&:focus{
    		outline-width: 0px;
    	}

	}
	&.small{
		margin-top: 0px;

		input{
			font-size: 15px;
			color: $blue-text;
			border: 2px solid #29b866;
			border-radius: 6px 0 0 6px;
			border-right-width: 0;
		}
		.submit-comb-search{
			font-size: 0;
			width: 40px;
			padding: 5px 20px;
			background-color: transparent;
			border: 2px solid #29b866;
			border-left-width: 0;
			border-radius: 0 6px 6px 0;

			&::after{
				background-image: url('../images/icons.svg');
				top: 2px;
				left: auto;
				right: 10px;
			}
		}
		&:hover{
			.submit-comb-search{
				border-color: $green;
				background-color: transparent;
			}
		}
	}
	.submit-comb-search{
		float: none;
    	display: table-cell;
    	vertical-align: middle;
    	text-align: center;
		border-radius: 0 10px 10px 0;
    	padding: 5px 25px;
		background-color: $green-v5;
		text-indent: initial;
		color: #fff;
		width: 120px;
		position: relative;
		cursor: pointer;
		font-size: 20px;
		text-align: right;

		&::after{
			@extend .icon;
			position: absolute;
			content: '';
			height: 20px;
			width: 20px;
			background-image: url('../images/icons_active.svg');
			background-position: center -117px;
			left: 20px;
			top: initial;
    		margin-top: 5px;
		}
	}
	&:hover{
		input{
			border-color: $green;
		}
		.submit-comb-search{
			background-color: $green;
		}
	}

	&.lato-style{
		input{
			color: $green;
			background-color: $green-lato-bg;
			border-color: $green-lato-bg;
			border-radius: 5px 0 0 5px;
		}
		.submit-comb-search{
			background-color: $green-lato-bg;
			border-color: $green-lato-bg;
			border-radius: 0 5px 5px 0;
			font-size: 0;
			width: 20px;
			&::after{
				background-image: url('../images/icons.svg');
				top: 6px;
			}
		}
		&:hover,&:active{
			@extend .submit-comb-search;
		}
	}
}
.select-prt{
	&:after {
	    content:'>';
		font-size: 14px;
	    color:$blue-text;
	    -webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	    padding:0;
	    position:absolute;
	    pointer-events:none;
	    margin: 1px 0 0 -7px;
	    right: 10px;
	    top: 7px;
	}
}
.page-toolbar{
	&.search-bar{
		position: relative;
		z-index: 11;

		&.fixed{
			position: fixed;
		    width: 100%;
		    background-color: white;
		    z-index: 11;
		    top: 51px;
	    }
	}
	.comb-search{
		border-bottom: 2px solid $green-v3;
		border-top: 2px solid $green-v3;
		border-left: 2px solid $green-v3;

		input{
			border-color: transparent;
			font-size: 18px;
			color: $blue-text;
			border-radius: 0;
		}
		.submit-comb-search{
			background-color: $body-bg;
			border-radius: 0;

			&::after{
				@extend .icon;

				background-image: url('../images/icons.svg');
				background-position: center -117px;
			}
		}
		&:hover,&:focus,&.active{
			.submit-comb-search{
				background-color: $green-v5;

				&::after{
					background-image: url('../images/icons_active.svg');
				}
			}
		}
	}
}
.search-location{
	background-color: $green-v4;
	padding: 5px 15px;
	font-size: $font-size-base;
	a{
		color: $blue-text;
	}
}
.search-results{

	.results-list{
	    max-height: 1800px;
	    overflow-y: scroll;

	    .result-item{
		    .result-block{
			    	&:hover{
					border-color: #eceeef;
					border-top-color: transparent;
					border-right-color: transparent;
				}
		    }
		    &:last-child{
		    	border-bottom-width: 0px;
		    }
	    }

	    .logo{
	    	&.watsons{
	    		padding: 15px;

	    		span{
					background-size: 300px 100px;
		    		background-position: 0 -55px;
	    			height: 40px;
	    		}
	    	}
	    }
	    .list-group{
	    	.list-group-item{
	    		&.list-toggle{
	    			ul{
	    				li{
		    				&.active{
								background-color: #eee;
							    border: 1px solid #eceeef;
								box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

								a{
									color: $blue-text;
									border-bottom-color: $blue-text;
								}
							}

								&::before{
									background-image: none;
								}
		    				}
	    				}
	    			}
	    		}
	    	}
	    }
	.result-item{
		padding: 20px;

		&.lato{
			padding-top: 0;

			&.result-item-inner{
				position: relative;

			}
			.result-block {
				border-top-width: 1px;

				&.search{
					padding-bottom: 17px;
					font-size: 24px;
					color: $logo-color;
					.tagline,.subline{
						display: none;
					}
					&:hover{
						background-color: transparent;
						border-left-color: transparent;
						border-right-color: transparent;
						border-top-color: transparent;
					}
				}
			}
		}
	}
	.result-block{
		cursor: pointer;
		position: relative;
		border-bottom: 1px solid #eceeef;
		color: #123752;
		display: block;

		&.active{
			border: 1px solid #eceeef;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);

			&.faded{
				&::after{
					background-color: gray;
					position: absolute;
					height: 70px;
					width: 100%;
					content: ' ';
					z-index: 10;
					left: 0;
	    			bottom: 0px;
					background: -moz-linear-gradient(top, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 80%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 80%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(238,238,238,0) 0%,rgba(238,238,238,1) 80%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
				}
			}
			&:hover{
				border: 1px solid #eceeef;
				background-color: $gray-lighter;
			}


		}
		&:hover{
			border-color: #eceeef;
			border-top-color: transparent;

		}
		&.no-border{
			border-width: 0px;
		}
		&.faded{
			&::after{
				background-color: gray;
				position: absolute;
				height: 70px;
				width: 100%;
				content: ' ';
				z-index: 10;
				left: 0;
    			bottom: 0px;
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}
		}
	}
}
.bg-fade{
	background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 21;
    display: none;
}


mat-text-field.mat-text-field-0 input{color: $blue-text;}
mat-text-field.mat-text-field-0 .wrapper.mat-text-field .main.mat-text-field .label.mat-text-field{
 	left: 0;
 	top: 1px;
 	padding: 0;
 	right: auto;
}
 mat-text-field .wrapper.mat-text-field .underline.mat-text-field .default.mat-text-field,
 mat-text-field .wrapper.mat-text-field .underline.mat-text-field,
 mat-text-field.mat-text-field-0 .wrapper.mat-text-field .helper.mat-text-field{
 	display: none;
}
 mat-text-field[floating-label][label]:not([label=""]) .wrapper.mat-text-field{
 	padding: 10px 10px 0 10px;
     border: 1px solid #a8afb3;
     border-radius: 4px;
 }
mat-text-field[modified] .wrapper.mat-text-field .main.mat-text-field .label.mat-text-field,
mat-text-field[focused] .wrapper.mat-text-field .main.mat-text-field .label.mat-text-field,
 {
 	padding: 10px 0;
 }
 mat-text-field.mat-text-field-0[floated][focused] .wrapper.mat-text-field .main.mat-text-field .label.mat-text-field{
 	color: $gray;
 }
@media (max-width: 1180px) {
	.navbar-default {
		.navbar-nav{
			&.sitewide-nav{
				li{
					&.vis-text {
						a{
							font-size: 0;
						}
					}
				}
			}
			&.rounded{
				li{
					a{
						font-size: 0;
					}
				}
			}
		}

		.rate-panel{
			.panel-actions{
				li{
					margin-right: 10px;
					float: left;
					a{
						font-size: 0px;
					}
					&:last-child{
						margin-right: 0;
					}
				}
			}
			.col-md-5{
				&.rate-block{
					width: 50%;
				}
			}
		}
	}

}
@media (max-width: $screen-xs-max) {
    body {
    	/*overflow-y:auto;*/
    	max-height: 100vh;
    	/*overflow-x: hidden ;*/
	}
	.login-form{
		max-width: 800px;
		margin: 0 auto;
		/*padding: 80px 35px 0 35px;*/

		.edit-account{
			 @extend text-left !optional;
		}
		.no-account{
			position: relative;
			top: 0;
		}
	}
	.search-examples{
		p{
			font-size: 18px;
		}
	}
	.comb-search-location{
		.comb-search{
			&.small{
				input{
					white-space: initial;
				}
			}
		}
	}
	.comb-search{
		padding: 0!important ;
		.submit-comb-search{
			text-indent: -9999px;
			width: 42px;
			padding: 5px 22px;
			text-align: initial;

			&::after{
				right: 10px;
				top: 6px;
				left: initial;
			}
		}
	}
	.search-results{
		.results-list{
	    	max-height: auto;
	    	overflow-y: visible;
	    	padding-right: 10px;
	    	cursor: pointer!important
		}
		.result-block{
			padding: 12px 15px 16px 15px;
			position: relative;
			cursor: pointer!important;
			&.active{
				&::after{
					bottom: -10px;
					background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				}

				&.faded{
					&::after{
						bottom: -10px;
						background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
					}
					&:hover{
						background-color: transparent;
					}
				}
			}
		}
		.result-item{
			&.lato{

				.result-block {
					&.search{
						margin-bottom: 0px;
						padding-bottom: 5px;
						font-size: $font-size-base;
						color: $gray-dark;
						.tagline,.subline{
							display: block;
						}

					}
				}
			}
		}
	}
	.navbar-default {
		.rate-panel{
			.container-fluid{
				padding: 0;
			}
			.panel-actions{
				li{
					float: left;
					a{
						font-size: 14px;
					}
				}
			}
			.col-md-5{
				&.rate-block{
					width: 100%;
				}
			}
		}
		.navbar-nav{
			&.sitewide-nav{
				li{
					&.vis-text {
						a{
							font-size: 14px;
						}
					}
				}
			}
			&.rounded{
				li{
					a{
						padding: 15px 10px;
					}
				}
			}
		}
		.navbar-collapse{
			.comb-search-location,.comb-search.lato-style{
				display: none;
			}
		}
	}
	.page-toolbar{
		&.search-bar{
			position: relative;
			z-index: 22;

			&.fixed{
				position: fixed;
			    width: 100%;
			    background-color: white;
			    z-index: 22;
			    top: 51px;
		    }
		}
	}
	.search-location{
		z-index: 22;
		position: relative;
	}
	.myAccount {
		.border-bottom input[type="password"] {
	    	width: 48%!important;
	    	border:0!important;
		}
	}
}
@media (max-width: 500px) {
	.rate-panel{
		.panel-actions{
			.action-value{
				padding-left:0;
				ul{
					li{
						float: left;
						a{
							font-size: 0!important;
							display: inline-flex;
							h{
								font-size: 0;
								display: inline-flex;
							}
						}
					}
				}
			}
		}
	}
}
