html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
	overflow-y: scroll;
    overflow-x: hidden;
}

body {
	font-family: "Lato", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #00141e;
	background-color: #fff;
	position: relative;

	&.nav-open {
		position: fixed;
		overflow: hidden;
		width: 100%;
	}
}


.no-padding{padding: 0 !important;}
.mobile{
	position: absolute;
	width: 300px;
	height: 400px;

}
.content{
	margin-top: 74px;
	padding-bottom: 40px;
}
.uppercase{text-transform: uppercase;}
.full-width{width: 100%;}
.text-left{text-align: left;}
.relative{position: relative;}
.mobile-only{
	display: none !important;
}
.logo span{
	background-image: url('../images/logo_watson.svg');
	background-repeat: no-repeat;
	text-indent: -999px;
	font-size: 0;
    width: 230px;
    height: 70px;
    display: inline-block;
}
// colors
.alert{
	&.alert-success{
		background-color: $green;
		border-color: $green;
		color: #fff;
		opacity: .95;
	}
	&.alert-dismissable,&.alert-dismissible{
		.close{
			color: #fff;
			text-shadow: none;
			opacity: 1;
		}
	}
}

.text-blue{color: $blue-text !important;}
.fixed-b{
      top:99px;
      position:fixed;
      width:auto;
      display:none;
      border:none;

    &.fixed-title{
        width: 100%;
        z-index: 10;
        background-color: white;
        margin: 0 0 0 -55px;
        padding: 13px 15px 13px 55px;
        border-bottom: 1px solid #dedede;
        color: #5a5a5a;
        line-height: 20px;

        h1,h2,h3,h4,h5{
        	margin: 0;
        }
    }
}

.result-block{
	padding: 0 15px;
	overflow: hidden;

	&.active{
		background-color: $gray-lighter;
		border: 1px solid #bdc2c6;

		&:hover{
			background-color: $gray-lighter;
		}
	}
	.heading{
		@extend h1;
		font-size: 16px !important;
		text-transform: none;
		font-weight: normal;
		margin: 20px 0 10px;
	}

	&.bookmark{
		border-bottom: 1px solid #eceeef;
		padding-bottom: 10px;
		padding: 2px 15px 6px 15px;
		overflow: hidden;

		&:hover{
			// background-color: #f9f9f9;
			background-color: transparent;
			cursor: pointer;
		}
		&:focus{
			background-color: #f5f5f5;
			cursor: pointer;
		}

		img {
			width: 25px;
			height: 25px;
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			cursor: pointer;
		}

		.tagline{
			line-height: 18px;
			padding-top: 3px;
			.title {
			    max-width: 80%;
			    display: inline-block;
			}
			.heading{
				font-size: 12px;
				float: left;
				max-width: 50%;
				margin: 0;
				line-height: 35px;
				color: $blue-text-darker;
			}
			.date{
				font-size: 12px;
				font-weight: 300;
				float: right;
				max-width: 49%;
				text-align: right;
				color: $green-v2;
			}
		}

		&.search{
			.tagline{
				line-height: 20px;
				padding-top: 10px;
				.heading{
					line-height: 20px;
					color: $gray;
				}
			}
			.subline{
				color: $gray;
				font-size: 12px;
			}
		}
	}
	.tagline{overflow: hidden;}
}
figure img,img{
	max-width: 100%;
}
.search-page{
	padding-top: 3px;
	padding-bottom: 0;
}

.fixed{
	max-width: $container-lg !important;
}
.table-wrapper{
	overflow: scroll;
}
.popover{
	width: 190px;
	.popover-content{
		padding: 9px 14px 9px 4px;
		font-size: 10px;
		ul{
			padding: 0;
			li{
				padding-left: 0;
				a{
					cursor: pointer;
					text-transform: none;
					padding: 0;
					&:hover{
						color: $green-lighter;
						background-color: transparent;
					}
				}
			}
		}
	}
}
ul.inline-menu{
	padding: 0;
	display: inline-block;
	li{
		display: inline-block;

		a{

		}
	}
	&.dots-separate{
		li{
			position: relative;
			padding-right: 5px;
			&::after{

			}
		}
	}
}
footer{
	background-color: $pre-bg;
	padding: 30px 0 20px 0;
	color: #69757d;

	.container-fluid{
		margin: 0 60px;
	}

	.ibm-partner-logo{
		width: 200px;
	}
	.block-title{
		border-bottom: 1px solid #c7cbce;
		font-size: 16px;
		line-height: 20px;
    	padding-bottom: 5px;
    	margin-bottom: 5px;
	}
	.copyright{
		margin-top: 10px;
		color: #818b92;
		a{
			color: #818b92;
		}
		ul.inline-menu{
			li{
				border-bottom-width: 0;
				a{
					&:hover{
						color: $gray-dark;
						border-bottom-color: $gray-dark;
						border-bottom-width: 0;
						text-decoration: underline;
					}
				}
			}
		}
	}
	ul{
		padding: 0;
		margin-bottom: 10px;
		li{
			line-height: 30px;
			list-style-type: none;
			padding: 0 0 0 0;
			border-bottom: 1px solid #c7cbce;

			a{
				text-decoration: underline;
				border-bottom-width: 0;
			}
		}
	}
}
.mobile-only{
	display: none;
}
.desktop-only{
	display: block;
}
@media (max-width: $screen-xs-max) {
	.result-block{
		.heading{
			font-size: 36px;
		}
		&.active{
			background-color: transparent;


		}
		&.bookmark{
			.tagline{
				.date{
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
	}
	.mobile-only{
		display: block !important;
	}
	.desktop-only{
		display: none;
	}
	.fixed-b{
	      left: 0;
	      top: 50px;

	    &.fixed-title{
	        margin: 0;
        	padding: 13px 15px;
	    }
	}
	footer{
		.block-title{
			margin-top: 20px;
		}

	}
	.mobile-only{
		display: block;
	}

}

@media (max-width: 979px) {
    .page-body {
        max-height: calc(100% - 52px);
        max-height: -webkit-calc(100% - 52px);
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.list-unstyle {
	list-style: none;
}