.header {
	position: fixed !important;
	width: 100%;
	top: 0;
	border-bottom: 1px solid #d0d4d6 !important;
	padding: 15px 0 14px;
	background-color: white;
	z-index: 500;

	.logo {
		width: 100px;
		height: 40px;
	}

	.content {
		margin-top: 0;
		padding-bottom: 0;
	}

	.user-navigation {
		padding-top: 6px;
		padding-left: 0;
		text-align: right;
	}

	.comb-search {
		padding: 0;

		&.lato-style .input-group {
			width: 100%;
		}
	}

	a {
		&.btn {
			font-weight: 500;
		}

		&:hover {
			border-bottom: 0;
		}

		&.active {
			color: white;
		}
	}

	.username {
		color: $green-v5;
		padding-right: 5px;
	}
}

@media (max-width: 400px) {
	.header{
	  a {
			&.btn {
				padding: 4px 6px;
	    		font-size: 12px;
			}

			&:hover {
				 padding: 4px 6px;
			}
		}
	}
}