label, li, li a, p {
  color: #555;
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img,
.team ul.team-socail li i:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out
}

.posts .dl-horizontal a {
  color: #555
}

.posts .dl-horizontal {
  margin-bottom: 15px
}

.posts .dl-horizontal dt {
  width: 60px;
  float: left
}

.posts .dl-horizontal dt img {
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-top: 2px;
  border: 1px solid #ddd
}

.posts .dl-horizontal dd {
  margin-left: 70px
}

.posts .dl-horizontal dd p {
  margin: 0
}

.posts .dl-horizontal dd a {
  font-size: 14px;
  line-height: 16px !important
}

.posts .dl-horizontal dd a:hover {
  color: #72c02c;
  text-decoration: none
}

.posts .dl-horizontal:hover dd a,
.posts .dl-horizontal:hover dt img {
  color: #72c02c;
  border-color: #72c02c !important;
  transition: all .2s ease-in-out
}

.shadow-wrapper {
  z-index: 1;
  position: relative;
}

.tag-box-v1 {
  border: solid 1px #eee;
  border-top: solid 2px #72c02c;
}

.tag-box {
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;

  p {
    margin-bottom: 0;
  }

  h2 {
    font-size: 20px;
    line-height: 25px;
  }
}

.shadow-effect-2 {
  position: relative;
}

.box-shadow {
  background: #fff;
  position: relative;
}

.box-shadow:after, .box-shadow:before {
  top: 80%;
  left: 5px;
  width: 50%;
  z-index: -1;
  content: "";
  bottom: 15px;
  max-width: 300px;
  background: #999;
  position: absolute;
}

.shadow-effect-2:after, .shadow-effect-2:before {
  transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  box-shadow: 0 15px 10px #999;
  -moz-box-shadow: 0 15px 10px #999;
  -webkit-box-shadow: 0 15px 10px #999;
}

.shadow-effect-2:after {
  left: auto;
  right: 5px;
  transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}

.service-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.service-block-light, .service-block-default {
  background: #fafafa;
  border: solid 1px #eee;
}

.service-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
}

i.icon-custom {
  color: #555;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  border: solid 1px #555;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.rounded-x {
  border-radius: 50% !important;
}

i.icon-bg-dark {
  background: #555;
  color: #fff;
  border-color: transparent;
}

.service-block-default h2 {
  color: #555;
}

h2.heading-md {
  font-size: 20px;
  line-height: 24px;
  margin: 22px 0 10px 0;
}

.headline h2,
.headline h3,
.headline h4 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #72c02c;
}

.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
  font-size: 22px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

blockquote {
  padding: 10.5px 21px;
  margin: 0 0 21px;
  font-size: 17.5px;
  border-left: 5px solid #eee;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

blockquote:hover, blockquote.text-right:hover {
  border-color: #72c02c;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.color-green {
  color: #72c02c;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-u.btn-brd.btn-u-light {
  color: #fff;
  border-color: #fff;
  padding: 5px 13px;
}

.tp-banner-container .btn-u.btn-brd {
  font-weight: 400;
}

.title-box-v2 {
  margin-bottom: 40px;
  text-align: center;

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    text-transform: uppercase;
  }

  p {
    font-size: 13px;
  }
}

.parallax-bg {
  background: url(../images/pattern_18.png) repeat fixed;
}

.parallax-team,
.parallax-team .title-box-v2 {
  position: relative;
}

.parallax-team {
  background: url(../images/faces.jpg) 50% 0 repeat fixed;
}

.parallax-team:before, .parallax-team-dark:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}

.team-v2 .inner-team {
  padding: 20px;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.team-social li a {
  font-size: 14px;
  padding: 6px 4px;
  text-align: center;
  border-radius: 50% !important;

  &.fb {
    color: #4862a3;
    border: 1px solid #4862a3;

    &:hover {
      color: #fff;
      background: #4862a3;
    }
  }

  &.tw {
    color: #159ceb;
    border: 1px solid #159ceb;

    &:hover {
      color: #fff;
      background: #159ceb;
    }
  }

  &.gp {
    color: #dc4a38;
    border: 1px solid #dc4a38;

    &:hover {
      color: #fff;
      background: #dc4a38;
    }
  }

  i {
    min-width: 20px;
  }
}

.banner-info.dark i {
  background: #555;
}

.banner-info {
  margin-bottom: 10px;

  i {
    float: left;
    color: #fff;
    padding: 11px;
    min-width: 40px;
    font-size: 22px;
    margin: 7px 20px 0 0;
    text-align: center;
  }

  h3 {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.overflow-h {
  overflow: hidden;
}
