.icon{
	background-image: url('../images/icons.svg');
	background-size: 20px 368px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border-width: 0px;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
    text-indent: -9999px;


	&.recent_searches{
		background-position: 0 3px;
	}
	&.bookmarks{background-position: 0 -18px;}
	&.browse_cbc{background-position: 0 -38px;}
	&.messages{background-position: 0 -238px;}
	&.account{background-position: 0 -58px;}
	&.help{background-position: 0 -78px;}
	&.password{background-position: 0 -325px;}
	&.star{background-position: 0 -278px;}
	&.share{background-position: 0 -138px;}
	&.search{background-position: 0 -117px;}
	&.clarify{background-position: 0 -158px;}
}

.active{
	> .icon,&.icon{
		background-image: url('../images/icons_active.svg');
	}
	> a{
		> .icon{
			background-image: url('../images/icons_active.svg');
		}
	}
	&.star{
		background-position: 0 -258px;
	}
	&.clarify{
		background-position: 0 -197px;
	}
}