.sidebar-nav{
	
}
.list-group{
	&>li.list-toggle{
		text-transform: uppercase;
	}
	&.location{
		&>li.list-toggle{
			text-transform: none;
		}
	}
}
.list-group-item{
	border-width: 0px;
	padding: 0;
	
	&.list-toggle{
		padding-left: 0;
		border-bottom: 2px solid $gray-lighter;

		a{
			color: $blue-text;

			&:hover{
				border-bottom-color: $blue-text;
			}
		}
		&>a{
			display: block;
			padding: 5px 0 5px 30px;
			position: relative;
		
			&::before{
				content: '\25B6';
			    color: #123752;
			    position: absolute;
			    left: 15px;
			    font-size: 8px;
			    top: 10px;
			}

			
			&[aria-expanded="true"]{
				font-weight: bold;
				display: block;
				background-color: $gray-menu;

				&::before{
					content: '\25BC'
				}
			}
			&:hover{
				border-bottom-width: 0;
			}
		}

		ul{
			padding-left: 0;
			li{
				padding: 5px 0 5px 45px;
				list-style-type: none;
				text-transform: none;
				border-bottom: 1px solid $gray-lighter;

				&:last-child{
					border-bottom-width: 0;
				}

				&.active{
					position: relative;
					background-color: $green-v5;
					a{
						color: $body-bg;
						&:hover{
							border-bottom-color: $body-bg;
						}
					}

					&::before{
						content:' ';
						text-indent: -9999;
						@extend .icon;
						background-image: url('../images/icons_active.svg');
						left: 30px;
						top: 5px;
						position: absolute;
					}
				}
			}
		}
	}
}