.nav-bar {
	position: fixed;
	top: 0;
	height: 100%;
	width: 300px;
	z-index: 1100;
	background-color: white;
	overflow-y: scroll;
	right: -306px;
	box-shadow: 0 0 10px $gray;

	.close-nav {
		text-align: right;

		a {
			width: auto;
		}
	}

	ul {
		padding-left: 0;
	}

	.cbc-chapters-list {
		padding-left: 45px;

		a {
			padding: 10px;
		}
	}

	.icon {
		margin-right: 10px;
	}

	a {
		width: 100%;
		display: inline-block;
		padding: 20px;
		border-bottom: 0;
		cursor: pointer;
		font-size: 16px;
		color: $green-v5;

		&:hover {
			border-bottom: 0;
			color: $green-v5;
		}

		&.active {
			color: white;
			background-color: $green-v5;
		}

		.caret{
			margin-left: 8px ;
		}
	}

	&.nav-open {
		right: 0;
		transition: right 500ms ease;
	}
}

.line-clamp {
	height: 75px;
}

.rate-panel{
	position: fixed;
	left: 0;
	top: 74px;
	width: 100%;
	padding: 0 0 10px 0;
	background-color: $body-bg;
	border-bottom: 1px solid #d0d4d6;
	z-index: 500;
	margin: 0;
	a{
		color: $green-lighter;
		&:hover{
			color: $green-darker;
		}
	}
	.container-fluid{
		max-width: $container-lg;
		position: relative;
	}

	.rate-block{
		position: absolute;
		left: 33.333333%;
		padding-top: 10px;
		z-index: 11;
	}

	.panel-head{
		padding: 0px 15px 10px 15px;
		overflow: hidden;
		border-bottom: 0px solid $dropdown-divider-bg;

		&.panel-middle{
			padding-top: 10px;
		}
		.block-action-heading{
			display: inline-block;
			width: auto;
		}
		.action-value{
			display: inline-block;
			width: auto;
		}

	}
	.panel-actions{
		overflow: hidden;
		padding: 10px 15px 0 15px;

		.block-action-heading{
			padding-left: 0;
			float:left;
			span{
				display:none;
			}
			a{
				text-transform: uppercase;
				font-weight: bold;
				font-size: $font-size-base;
				&:hover{
					border-bottom-width: 0;
				}
			}
			span{
				&.sorting{
					display: inline-block;
					text-transform: uppercase;
					color: $gray;
					font-weight: 300;
					font-size: 10px;
					float: right;
					padding-top: 5px;
				}
			}

		}
		.action-value{
			padding: 0;
			float: right;
			z-index: 20;
			ul{
				margin-bottom: 0;
				margin-left: 0;
				padding-left: 0;
				li{
					list-style-type: none;
					display: inline-block;
					text-transform: uppercase;
					margin-left: 5px;

					&:first-child{
						margin-left: 0;
					}
				}
			}
		}
		.submit-rate{
			max-width: 400px;
			margin: 0px auto;

			input{
				resize: none;
				width: 100%;

			}
		}
	}
	.rating{
		text-align: right;
		&.text-center{
			text-align: center;
		}
	}
}
.rating{
	.star{
		cursor: pointer;
		float: right;

		&:hover{
			background-image: url('../images/icons_active.svg');
			background-position: 0 -258px;

			~ div {
				background-image: url('../images/icons_active.svg');
				background-position: 0 -258px;
			}
		}
	}
}
@media (max-width: $screen-mid) {
	.rate-panel{
		.panel-actions{
			.action-value{
				ul{
					li{
						float: left;
						a{
							h{
								font-size: 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md-max){
	.block-action-heading a{
		font-size: 14px!important ;
	}	
	.nav-menu.rounded li a{
		padding: 5px 6px!important ;
		font-size: 12px!important;
	}
}
@media (max-width: $screen-xs-max) {
	.rate-panel{
		bottom: 0;
		border-top: 1px solid $dropdown-divider-bg;
		top: initial;
		width: 100%;
		position: fixed;
		left:0;

		.rate-block{
			position: relative;
			left: 0;
			padding-top: 10px;
		}
		.panel-head{
			padding: 0px 15px 10px 15px;
			overflow: hidden;
			border-bottom: 1px solid $dropdown-divider-bg;

			.block-action-heading{
				float: left;
				width: 49%;

				&.full-width{
					width: 100%;
				}
				a{
					font-size: $font-size-base!important;
				}
				span{
					display:inline-block;
					font-weight:300;
				}
			}
			.action-value{
				float: right;
				width: 50%;
			}

			&.panel-middle{
				padding-top: 10px;
			}

		}
		.panel-actions{
			// overflow: hidden; - commented for popover on share button
			padding: 10px 0 0 0;

			.block-action-heading{
				padding-left: 0;
				float:left;
				margin-left: 12px ;

				a{
					text-transform: none;
					font-weight: normal;
					font-size: $font-size-base!important;
				}
				span{
					display: inline-block;
					font-weight: 300;
					&.sorting{
						display: none;
					}
				}

			}
			.action-value{
				padding-right: 0;
				float: right;
				ul{
					margin-bottom: 0;

					li{
						list-style-type: none;
						display: inline-block;
						text-transform: uppercase;
						margin-left: 5px;

						a{
							color: $green;
							h{
								font-size: 14px;
							}
						}
						&:hover{
							a{
								color: #fff;
							}
						}
					}
					&.rounded{
						li{
							&.active{
								a{
									color: #fff;
								}
							}
						}
					}
				}
			}
			.submit-rate{
				max-width: 400px;
				margin: 0px auto;

				input{
					resize: none;
					width: 100%;

				}
			}

		}
		.rating{
			text-align: right;
			&.text-center{
				text-align: center;
			}
		}
	}
	.nav-bar{
		width:240px;
	}
}


.nav-menu{
	&.rounded{
		li{
			a {
				border-radius: 15px;
				font-size: 14px;
				padding: 5px 10px;
				cursor: pointer;
				display: inline-block;

				&:hover{
					background-color: $green-v5;
					color: #fff;
					border: 0;

					.icon{
						background-image: url('../images/icons_active.svg');

						&.clarify{
							background-position: 0 -197px;
						}
					}
				}
				.icon{
					margin-right: 0;
				}
			}
			&.active{
				a,span{
					background-color: $green-v5;
					color: #fff;
				}
			}
		}
	}
}

.navbar-toggle{
	background-color: #29b866!important;
    border-color: #29b866!important;
    color: white!important;
}