.main-container {
  min-height: 500px;
}

.search-button {
  display: table-cell;
  width: 1%;
}

.chapter-link {
  max-height: 90px;
}

.result-block .heading {
  text-align: left;
}

.bookmarked {
  color: white !important;
  background-color: #29b866;
  border-radius: 15px;
}

.bookmarked .icon {
  background-image: url("../images/icons_active.svg");
}

.searchedChapter > div {
  padding: 0;
}

.searchedChapter .tag-box {
  border: 0;
}

.dropdown-menu > li > a:hover {
  background-color: white !important;
  color: #29b866 !important;
  border: none;
}

.dropdown-menu > li > a {
  color: #29b866 !important;
  font-size: 10px !important;
  text-align: center !important;
  /*font-size: 14px!important;*/
  text-transform: uppercase;
}

.account.dropdown-menu > li > a {
  text-align: left !important;
}

.comb-search.small .submit-comb-search {
  padding: 0;
  bottom: 3px;
  right: 4px;
  height: 38px;
}

.comb-search {
  bottom: 2px;
  padding: 6px 25px;
}

.comb-search input {
  display: inline-block;
}

.page-toolbar .comb-search .submit-comb-search{
  background-color: #219452!important ;
}
.submit-comb-search {
  /*right: 4px;*/
  height: 44px!important;
}

.comb-search.lato-style .submit-comb-search::after, .page-toolbar.comb-search.lato-style .submit-comb-search::after {
  top: 6px;
  cursor: pointer ;
}

.comb-search.lato-style .input-group {
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    width: 500px;
  }
}

a.dropdown-toggle {
  font-size: inherit;
}

.elm a.dropdown-toggle .icon {
  margin-right: 0;
}

.dropdown-menu a {
  font-size: inherit !important;
}

/*@media ( max-width: 768px) {
  .mobile-sketcher-screen {
    position: static !important;
    height: auto !important;
  }
}*/

.relative {
  position: relative;
}

.login-form.signup .error, .login-form.signup .success, #modalSuccess,
.modal-content .error {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  /*display: block;*/
  margin-top: -15px;
  padding: 15px;
  margin-bottom: 21px;
  /* border: 1px solid transparent; */
  border-radius: 4px;
  /* text-transform: lowercase; */
}

.modal-content .error {
  margin-left: 15px;
}

.login-form.signup .error, .modal-content .error {
  /*color: #e73c3c;*/
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.login-form.signup .success, #modalSuccess {
  /*color: #29b866 ;*/
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.search-results {
  margin-top: 10px;

  @media screen and (min-width: $screen-sm-min) {
    margin-top: 45px;
  }
}

.results-list {
  position: fixed;
  height: 650px;
  overflow-y: scroll;
}

.footer {
  position: relative;
}

.footer-v1 .copyright {
  position: relative;
}

.bookmark .date {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 14px;
  color: #9fa7ac;
  /*max-width: 30%;*/
  text-align: right;
}

.list-group > li.list-toggle {
  border: 0;
  border-bottom: 1px solid #d0d4d6;
  padding: 3px 0 2px !important;
  margin-bottom: 0;
}

.list-group-item.list-toggle ul li {
  padding: 0 0 0 30px;
}

.list-group-item.list-toggle a, .list-group-item.list-toggle .pseudo-link {
  border-top: 0;
}

.list-group-item.list-toggle a:hover {
  border-bottom: 0;
}

.myAccount .form-control[readonly], fieldset[disabled] .form-control {
  background: white;
  border: none;
  border-bottom: 1px solid #a8afb3;
  border-radius: 0;
}

.myAccount button, .myAccount button:hover, .myAccount button:active,
.myAccount .btn, .myAccount .btn:hover, .myAccount .btn:active {
  color: black;
  background-color: white;
  border-color: #1e864a;
  cursor: default;
  box-shadow: none;
  opacity: 0.5;
}

.myAccount .selected {
  opacity: 1 !important;
}

.myAccount .border-bottom {
  border-bottom: 1px solid #a8afb3;
}

.myAccount .border-bottom span {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.myAccount .border-bottom input[type="password"] {
  width: 70%;
  display: inline-block;
}

.search-history-container .table {
  margin-top: 10px;

  @media screen and (min-width: $screen-sm-min) {
    margin-top: 20px;
  }
}

.search-time {
  padding-left: 8px;
}

.table > tbody > tr > td.search-answer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;

  &.overlay--navigation {
    background: rgba(0,0,0,0.25);
  }
}

.marginLeft {
  margin-left: -28px !important;
}

.navbar-default .navbar-nav.myAccount li a, .navbar-default .navbar-nav.myAccount li .pseudo-link {
  font-size: 11px !important;
  padding: 3px 5px !important;
}

.elm i.icon {
  margin-right: 4px !important;
}

/*clarify*/
.no-padding {
  padding: 0;
}

.navbar-default .navbar-nav > li {
  padding-right: 0;
}

/*CSS for clarify modal*/
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  z-index: 10000;
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 0 0;
  border-width: 0;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  outline: 0;
}

.modal-header {
  border-bottom: 2px solid #2ecc71;
  padding: 15px;
}

.modal-header, .modal-footer {
  border-color: #d0d4d6;
}

.modal-body {
  padding: 0;
  position: relative;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-header h4 {
  color: #219452;
  font-size: 13px;
  font-weight: bold;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
}

.modal-form .field.to {
  border-bottom: 1px solid #d0d4d6;
}

.modal-form .field {
  padding: 5px 10px;
}

.modal-form .field.to label {
  float: left;
  color: #a1a8ad;
  font-weight: normal;
  margin-right: 10px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.modal-form .field.to input[type='email'] {
  border-width: 0px;
  width: 90%;
  color: #123752;
  margin: 0;
}

.modal-form .field textarea.no-border {
  border-width: 0px;
  padding: 0;
}

.modal-form .field textarea {
  width: 100%;
  resize: none;
}

.modal-form .field textarea.no-border:focus, .modal-form .field textarea.no-border:active {
  outline: none;
}

.modal-form .result-block.section {
  padding: 5px;
  border: 2px solid #29b866;
  margin: 0 0 5px 0;
}

.result-block {
  padding: 0 15px;
  overflow: hidden;
}

.icon.chain {
  background-position: 0 -349px;
  background-image: url("../img/icons_active.svg");
}

#modalSuccess {
  position: fixed;
  display: none;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paddingTop20 {
  padding-top: 20px;
}

.center {
  text-align: center;
}

#highlightDiv {
  position: absolute;
  padding: 10px;
  background: black;
  color: white;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.arrow_box {
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  border: none;
}

.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: black;
  border-width: 8px;
  margin-left: -8px;
}

.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: black;
  border-width: 2px;
  margin-left: -2px;
}

.bold {
  font-weight: bold !important;
}

.mb20px {
  margin-bottom: 20px !important;
}

.mt10px {
  margin-top: 10px !important;
}

.font13 {
  font-size: 13px !important;
}

#messages {
  position: relative;
  margin: 0px auto;
  padding: 0;
  /* 	width: 800px; */
  list-style: none;
}

#messages li {
  float: left;
  margin-bottom: 15px;
  width: 100%;
}

#messages li:nth-child(2n) .infos {
  float: right;
  margin-left: 20px;
}

#messages li:nth-child(2n) .infos a {
  -webkit-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
  left: inherit;
}

#messages li:nth-child(2n) .content {
  border-width: 1px 3px 4px 4px;
}

#messages li:nth-child(2n) .content:after, #messages li:nth-child(2n) .content:before {
  right: -9px;
  left: inherit;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -o-transform: rotate(41deg);
  transform: rotate(41deg);
}

#messages li:nth-child(2n) .facebook {
  right: -10px;
}

#messages li:nth-child(2n) .twitter {
  right: -5%;
}

#messages li:nth-child(2n) .github {
  right: -1%;
}

#messages .infos {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  float: left;
  padding: 3px;
  width: 80px;
  height: 80px;
  border: 5px solid #c8c7b4;
}

#messages .infos a {
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  -moz-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
  position: absolute;
  width: 20px;
  height: 22px;
  background-color: #d5d2a8;
  color: #fff;
  text-decoration: none;
  text-indent: -10000px;
  font-size: 11px;
}

#messages .infos a:hover {
  padding: 0 10px 0 18px;
  width: auto;
  border: none;
  text-indent: 0;
  opacity: 0.95;
}

#messages img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}

.messageBody {
  position: relative;
  float: left;
  margin-left: 20px;
  padding: 15px 25px;
  width: 510px;
  /*  border-width: 1px 1px 1px 1px; */
  /*  border-style: solid; */
  /* border-color: #c8c7b4; */
  background: #EFEFEF;
  background-size: 100% 10px;

  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.34);
  background-size: 100% 10px;
  color: #333;
}

.messageBody h3 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.messageBody p {
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 1.7em;
}

.messageBody p a {
  text-decoration: none;
  background-color: #f7f3c5;
  border-bottom: solid 1px #cfcebe;
  color: #834202;
  padding: 1px 4px;
}

.messageBody p a:hover {
  background-color: #f5ec82;
}

.messageBody b {
  display: block;
  color: #75280c;
  font: italic normal 17px Georgia;
}

.floatright {
  float: right !important;
}

.floatleft {
  float: left !important;
}

.messages-container {
  padding-top: 1px;

  .line-clamp {
    height: 30px;
  }
}

.messages-container .search-results .result-item.lato .result-block {
  border-bottom-color: #d0d4d6;
}

.messages-container .result-block .sender {
  padding: 6px 0;
  line-height: 18px;
  font-size: 15px;
  color: #123752;
  border-bottom: 1px solid #eceeef;
  font-weight: bold;
}

.message-form {
  margin-top: 15px;
}

.reply-box textarea {
  border-color: #a3aaaf;
  width: 100%;
  resize: none;
  height: 75px;
}

.reply-box textarea.active {
  height: 150px;
  border-color: #92cbaa;
  outline: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#loader {
   background-image: url('/assets/img/ajax-loader.gif');
   width: 100%;
   height: 100%;
   z-index: 100;
   position: absolute;
   top: 0;
   background-repeat: no-repeat;
   background-position: 50% 30%;
   background-color: rgba(245, 245, 245, 0.75);
   background-size:34px;
}

.mobile-search-container {
  display: block;

  @media screen and (min-width: $screen-sm-min) {
    display: none;
  }
}

.cbc-chapter {
  .content {
    margin-top: 15px;

    @media screen and (min-width: $screen-sm-min) {
      margin-top: 74px;
    }
  }
}

.cbc-sidebar {
  @media screen and (min-width: $screen-sm-min) {
    position: fixed;
    height: 650px;
    overflow-y: scroll;
  }
}

.carousel-control {
  width: auto;
  bottom: auto;
  top: 40%;
  cursor: pointer;

  &.left, &.right {
    background: none;
    text-shadow: none;
    font-size: 50px;
  }

  &.left {
    left: 15px;
  }

  &.right {
    right: 15px;
  }
}

.password-field {
  width: 92%;
  display: inline-block;

  @media screen and (min-width: $screen-sm-min) {
    width: 94%;
  }
}

.password-info {
  cursor: pointer;
  padding-left: 6px;
  color: black;

  &:hover,
  &:focus {
    color: black;
    border-bottom: 0;
    outline: none;
  }
}