.mobile-sketcher-changer{
	display: inline-block;
}

@media (max-width: $screen-xs-max) {
	.mobile-sketcher{
		.mobile-sketcher-screen{
			position: absolute;
			left: 0;
			right: 100%;
			background-color: #fff;
			padding: 0;
			overflow: hidden;
			transition: right 0.33s cubic-bezier(0.55, 0, 0.01, 1);

			&.active{
				right: 0;
				z-index: 12;
				padding: 0 15px;
				/*overflow-y: scroll;*/
				transition: right 0.33s cubic-bezier(0.55, 0, 0.01, 1);
				/*margin-right:-15px;*/
				position:relative!important;
				height: auto!important;
			}
			&.result-item{
				/*max-height:100% ;*/
				right: 0;
				left: 100%;
				transition: left 0.33s cubic-bezier(0.55, 0, 0.01, 1);
				padding-bottom: 50px;
				&.active{
					left: 0;
					transition: left 0.33s cubic-bezier(0.55, 0, 0.01, 1);
				}
			}
		}
	}
	.rate-panel{
		bottom: -100%;
		transition: bottom 0.33s cubic-bezier(0.55, 0, 0.01, 1);

		&.active{
			bottom: 0!important;
			transition: bottom 0.33s cubic-bezier(0.55, 0, 0.01, 1);
		}
	}
}