.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5{
	text-transform: uppercase;
	color: $gray;
	letter-spacing: 0.02em;
}
.h1, .h2,h1,h2{
	margin: 0 0 22px 0;

	span{
		font-weight: normal;
		color: $green;
	}
}
.h3,.h4,h3,h4{

	margin:0 0 20px 0;
	span{
		font-weight: 300;
		color: $green;
	}
}
.h5,h5{
	margin-bottom: 0 0 18px 0;
	span{
		font-weight: normal;
		color: $green;
	}
}

a{
	&.pseudo-link{
		border-bottom: 1px dotted $brand-primary;

		&:hover{
			border-bottom: 1px dotted $brand-primary;
		}
	}

	&:hover{
		border-bottom: 1px solid $brand-primary;
		text-decoration: none;
	}
}

.pseudo-link{
		@extend a;
		border-bottom: 1px dotted $brand-primary;

		&:hover,&:focus{

			color: $link-hover-color;
			border-bottom: 1px dotted $brand-primary;
		}
	}

// ::selection,.text-selected {
//   background: #fff97a;
// }

// Block titles
.data-block{
	.block-title{
		font-size: 14px;
		color: $gray-middle;
	}


	&.active{
		.block-title{
			color: $gray-middle-darker;
		}
	}
}
.highlight{
	text-transform: uppercase;
	font-size: 10px;
	color: $green-darker;
}
.block-action-heading,a.block-heading,.block-action-heading a{
	text-transform: uppercase;
	color: $green;
	font-size: 16px;
	font-weight: bold;
	border-bottom-width: 0px;

	span{
		color: $gray;
	}
}

@media (max-width: $screen-xs-max) {
	body{
		.h1,.h2,.h3{
			font-weight: normal;
			text-transform: uppercase;
			line-height: 1.3;
		}
		.h1,.heading{
			font-size: 32px;

		}
		.h2,.h3{
			text-transform: uppercase;
			font-size: 24px;
		}
		.h3{
			font-size: 18px;
		}
		.h4{
			font-size: 16px;
			text-transform: uppercase;
			line-height: 1.3;
		}
		.result-block{
			.heading{
				font-size: 16px;
			}
		}
		.h5,.h6{
			text-transform: uppercase;
			font-size: $font-size-small;
			line-height: 1.3;
		}

		figure{
			text-align: center;
		}

	}

}
