<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="login-form">
      <div class="h1 text-blue">Login</div>

      <form name="form" ng-submit="login()" role="form">

        <div class="form-group"
             ng-class="{ 'has-error': (form.email.$dirty && (form.email.$error.required || form.email.$error.pattern)) || invalidCredentials || invalidUsername || pendingUsername}">

          <span  ng-show="invalidCredentials" class="help-block with-errors"><ul class="list-unstyled"><li>Invalid email address or password.</li></ul></span>
          <span  ng-show="invalidUsername" class="help-block with-errors"><ul class="list-unstyled"><li>Invalid email address.</li></ul></span>
          <span  ng-show="pendingUsername" class="help-block with-errors"><ul class="list-unstyled"><li>Activation pending for this user. Kindly activate it.</li></ul></span>

                   <!--   <span ng-show="invalidCredentials" class="help-block">
                          Invalid email address or password.
                      </span>-->
          <span  ng-show="form.email.$dirty && form.email.$error.required" class="help-block with-errors"><ul class="list-unstyled"><li>Email is required</li></ul></span>
          <span  ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block with-errors"><ul class="list-unstyled"><li>Please enter valid email</li></ul></span>
          <input type="email" name="email" class="form-control" ng-model="user.email"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email" ng-focus="hideError()" required/>
          <!--<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
          <span ng-show="form.email.$dirty && form.email.$error.pattern"
                class="help-block">Please enter valid email</span>-->
        </div>

        <div class="form-group"
             ng-class="{ 'has-error': (form.password.$dirty && form.password.$error.required) || invalidCredentials || invalidUsername || pendingUsername }">
          <div class="password_">
            <span  ng-show="form.password.$dirty && form.email.$error.required" class="help-block with-errors"><ul class="list-unstyled"><li>Password is required</li></ul></span>
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password"
                   placeholder="Password" ng-focus="hideError()" required/>
           <!-- <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>-->
          </div>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isPersistentLogin"> Keep me logged in
          </label>
        </div>

        <div class="form-actions form-group ">
          <input type="submit" class="full-width" value="Login"
                  ng-disabled="form.$invalid || dataLoading" />
        </div>
      </form>

      <p class="text-center">
        <a href="#forgotPassword">Forgot password?</a>
      </p>

      <p class="text-center no-account">
        or if you don’t have an account<br/>
        <a href="#/signup">Sign up for GoFetch Code ››</a>
      </p>
    </div>
  </div>
</div>
