<div ng-controller="messagesController" class="modal fade" tabindex="-1" id="clarifyModal" role="dialog" >
      <div class="modal-dialog">
        <div class="modal-content" ng-class="{'paddingTop20':isInternalError}">
          <span class="error" ng-show="isInternalError">{{errorMessage}}</span>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ask for clarification</h4>
          </div>
          <form class='modal-form' name="modal-form" role="form" ng-submit="sendClarifyEmail()">
          <div class="modal-body">
            
              <div class="field to">
                <label for="recepient">To:</label>
                <input type="email" pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$"  placeholder="e.g.: foo@example.com, bar@example.com" name="recepient" id="recepient"  ng-model="recepientEmails"  data-toggle="tooltip" title="Enter emails with comma" multiple required>
              </div>
              <div class="field">
                <textarea name="askQuestion" id="" class="no-border" placeholder="Ask Your Question" style="height:200px" ng-model="clarifyQuestion" required></textarea>
              </div>
              <div class="field">
              <div class="result-block section">
                <div class="row">
                  <div class="col-md-11">
                    <h5><span>{{sectionNumber}}</span>{{sectionName}}</h5>
                   <!--  <div class="message_section">California Building code 2013. CHAPTER 18. SOILS AND. <span>San Francisco</span></div> -->
                  </div>
                  <div class="col-md-1 text-right ">
                    <i class="icon chain"></i>
                  </div>
                </div>
              </div>
            </div>
          
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-transparent btn-small" data-dismiss="modal">Discard</button>
            <input type="submit" class="btn btn-rounded uppercase btn-small" value="Send message"/>
          </div>
        </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="modalSuccess">Message Sent Successfully</div>