<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
          <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">
            <img id="logo-footer" class="footer-logo"
                 src="assets/img/new/Logos/IBM_Watson_Partner_pos_b_250.png" alt=""></a>
          <p>
            GoFetchCode is a partnership of IBM Watson and ENGEO, a leading provider of geotechnical,
            environmental, and hydrologic engineering, with over 45 years of experience navigating
            the regulatory environment.
          </p>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline">
              <h2>Latest Posts</h2>
            </div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">Learning about the CBC</a>
                <small>May 8, 2014</small>
              </li>
              <li>
                <a href="#">ASTM Standards List</a>
                <small>June 23, 2014</small>
              </li>
              <li>
                <a href="#">New Terms and Conditions</a>
                <small>September 15, 2014</small>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline">
            <h2>Useful Links</h2>
          </div>
          <ul class="list-unstyled link-list">
            <li><a href="/#/about">About us</a><i class="fa fa-angle-right"></i></li>
            <li><a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">IBM Watson</a><i
                class="fa fa-angle-right"></i>
            </li>
            <li><a href="http://www.engeo.com">Engeo Inc</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>

        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline">
            <h2>Contact Us</h2>
          </div>
          <address class="md-margin-bottom-40">
            2010 Crow Canyon Place, Suite 250
            <br/>
            San Ramon, CA 94583-4634
            <br/>
            T: (925) 866-9000
            <br/>
            Email: <a href="mailto:info@engeo.com" class="">info@engeo.com</a>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2016 &copy; All Rights Reserved.
            <a href="#/privacyPolicy">Privacy Policy</a> | <a href="#/termsOfService">Terms of Service</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
