<div class="search-history-container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th ng-repeat="field in tableFields">{{field}}</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="data in tableData">
      <td class="col-xs-2">{{data.email}}</td>
      <td class="col-xs-3">{{data.question}}</td>
      <td class="col-xs-5 search-answer">
        <div>
          <strong>{{data.sectionId}} {{data.sectionTitle}}</strong>
        </div>
        <div ng-bind-html="data.answer | strLimit: 250 | trustAsHtml"></div>
        <div class="overlay"></div>
      </td>
      <td class="col-xs-2">        
        <span>{{data.createdDate | date:'dd MMM yyyy'}}</span>
        <span class="search-time">{{data.createdDate | date:'HH:mm:ss'}}</span>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-center">
    <button class="btn" ng-click="prev()" ng-disabled="disablePrev">< Prev</button>
    <button class="btn" ng-click="next()" ng-disabled="disableNext">Next ></button>
  </div>
</div>