<header class="header">
  <div class="clearfix">
    <a class="col-xs-4 col-sm-2" href="#/home">
      <img class="logo" src="assets/img/GoFetchCode_Logo_50.png" alt="Logo">
    </a>

    <div class="col-xs-8 col-sm-10">

      <div class="row" ng-if="isLoggedIn">
        <div class="col-sm-9 hidden-xs" ng-show="showSearchBox">
          <ng-include src="'modules/shared/partials/searchBox.html'"></ng-include>
        </div>

        <div class="col-xs-12 col-sm-3 pull-right user-navigation">
          <span class="username">Hi {{" " + userDetails.firstName}}</span>

          <button ng-click="toggleNavigation()">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
        </div>
      </div>

      <div class="row user-navigation" ng-if="!isLoggedIn">
        <!-- <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="fa fa-bars"></span>
          </button>
        </div> -->
       <!-- // <div id="myNavbar" class="collapse navbar-collapse"> -->
          <a href="#/home" class="btn btn-transparent btn-rounded"
             ng-show="showHomeLink">
             Home
          </a>
          <a href="#/login" class="btn btn-transparent btn-rounded"
             ng-class="{'active': activeLink === 'login'}"
             ng-hide="activeLink === 'login'">
             Login
          </a>
          <a href="#/signup" class="btn btn-transparent btn-rounded"
             ng-class="{'active': activeLink === 'signup'}"
             ng-hide="activeLink === 'signup'">
             Sign up
          </a>
          <a href="#/about" class="btn btn-transparent btn-rounded"
             ng-class="{'active': activeLink === 'about'}"
             ng-hide="activeLink === 'about'">
             About us
          </a>
       <!--  </div> -->
      </div>
    </div>
  </div>
</header>

<div class="nav-bar" ng-if="isLoggedIn" ng-class="{'nav-open': isNavOpen}">
  <div class="close-nav">
    <a ng-click="toggleNavigation()">X</a>
  </div>

  <ul class="list-unstyle">
    <li>
      <a href="#/ask" ng-class="{'active': activeLink === 'ask'}">
        <span class="icon help"></span>
        Ask
      </a>
    </li>
   <!-- <li>
      <a href="#/dashboard" ng-class="{'active': activeLink === 'dashboard'}">
        <span class="icon recent_searches"></span>
        Dashboard
      </a>
    </li>-->
    <li>
      <a href="#/myAccount" ng-class="{'active': activeLink === 'myAccount'}">
        <span class="icon account"></span>
        My Account
      </a>
    </li>
    <li>
        <a ng-class="{'active': activeLink === 'team'}" data-toggle="collapse" data-target="#teamManagement" aria-expanded="false" aria-controls="teamManagement">
            <i class="fa fa-users" aria-hidden="true"></i>
            Team / Organization
            <span class="caret"></span>
        </a>
        <ul class="collapse list-unstyle cbc-chapters-list" id="teamManagement">
            <li><a href="#/userManagement">User Management</a></li>
        </ul>

    </li>
    <li>
      <a ng-class="{'active': activeLink === 'organization'}" data-toggle="collapse" data-target="#organizationManagement" aria-expanded="false" aria-controls="organizationManagement">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        Organization
        <span class="caret"></span>
      </a>
      <ul class="collapse list-unstyle cbc-chapters-list" id="organizationManagement">
        <li><a href="#/teamsInOrganization">Teams</a></li>
      </ul>

    </li>
    <li>
      <a href="#/billing" ng-class="{'active': activeLink === 'billing'}">
        <i class="fa fa-money" aria-hidden="true"></i>
        Billing
      </a>
    </li>
    <li>
      <a href="#/bookmarks" ng-class="{'active': activeLink === 'bookmarks'}">
        <span class="icon bookmarks"></span>
        Bookmarks
      </a>
    </li>
    <li>
      <a ng-class="{'active': activeLink === 'cbc'}" data-toggle="collapse" data-target="#cbcChapters" aria-expanded="false" aria-controls="cbcChapters">
        <span class="icon browse_cbc"></span>
        CBC
        <span class="caret"></span>
      </a>

      <ul class="collapse list-unstyle cbc-chapters-list" id="cbcChapters">
        <ng-include src="'modules/shared/partials/cbcChaptersList.html'"></ng-include>
      </ul>
    </li>
    <li>
      <a href="#/recentSearches" ng-class="{'active': activeLink === 'recentSearches'}">
        <span class="icon recent_searches"></span>
        Recent Searches
      </a>
    </li>
    <li>
      <a href="#/messages" ng-class="{'active': activeLink === 'messages'}">
        <span class="icon messages"></span>
        Messages
      </a>
    </li>
   <!--  <li>
      <a href="#/about">
        <span class="icon"></span>
        About us
      </a>
    </li> -->
    <li>
      <a ng-click="logoutUser(event)">
        <span class="icon"></span>
        Logout
      </a>
    </li>
  </ul>
</div>