<div class="comb-search lato-style">
  <form name="form" ng-submit="searchQuery($event)" ng-controller="searchController"
        class="ng-pristine ng-valid ng-scope ng-valid-required">
    <div class="input-group">
      <input data-adaptheight="" ng-model="$root.searchText" type="text" class="form-control" placeholder="Search Query"
             required="" class="ng-pristine ng-valid ng-valid-required ng-touched">
                <span class="input-group-btn">
                  <button class="submit-comb-search" type="submit" ng-disabled="form.$invalid || dataLoading"></button>
                </span>
    </div>
  </form>
</div>