<div class="search-page">

  <ng-include src="'modules/shared/partials/searchBox.html'" class="mobile-search-container"></ng-include>

  <div class="rate-panel">
    <div class="row">
      <div class="col-md-12" ng-show="resultsFound">
        <div class="panel-actions">
          <div class="col-md-4 col-sm-4 block-action-heading">
            <span><</span><a class="mobile-sketcher-changer" href="javascript:void(0)" ng-click="toggleChapterActive(false) ;">Bookmarks</a>
              <span class="sorting">
                <div class="action-value">
                  <span style="font-size:12px;color:#737373;padding-top: 3px;cursor:pointer;padding-right:3px; display: inline-block;"
                        ng-click="toggleSortOrder()">SORT BY DATE</span>
                  <img ng-show="!isSortAsc" src="/assets/img/arrow_down.png"
                       style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                  <img ng-show="isSortAsc" src="/assets/img/arrow_up.png"
                       style="width:20px; height: 20px; cursor:pointer;" ng-click="toggleSortOrder()">
                </div>
              </span>
          </div>

          <div class="col-md-4 action-value text-right">
            <ul class="nav-menu rounded">
              <li class="active">
                <a class="menu-item-toggler bookmark-toggler" ng-click="removeBookmark($event);">
                  <i class="icon bookmarks"></i>
                  <h>Bookmarked</h>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#clarifyModal">
                  <i class="icon clarify"></i>
                  <h>Clarify</h>
                </a>
              </li>
<!--               <li>
                <a href="javascript:void(0)">
                  <i class="icon share"></i>
                  <h>Share</h>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 ng-hide="resultsFound" class="col-lg-12" style="margin-top:50px;text-align: center;">
    There are no Bookmarks to show.
  </h3>

  <div class="row search-results mobile-sketcher" ng-show="resultsFound">
    <div id="bookmarkList" class="col-sm-4 col-md-4 results-list mobile-sketcher-screen active">
      <a href="#" class="result-block bookmark" ng-repeat="result in bookmarks | orderBy:sortFunction"
         ng-class="{active: $index==currentIndex}" data-index={{result.id}}
         ng-style="{cursor: $index==currentIndex ? 'default':'pointer'}" ng-click="getBookmarkChapter($event, $index)" sectionNumAttr="{{result.sectionSequenceId}}" sectionNameAttr="{{result.sectionSequenceTitle}}">
        <div class="tagline">
          <div class="heading">{{result.sectionSequenceId}}</div>
        </div>
        <div class="title">{{result.sectionSequenceTitle}}</div>
        <img ng-if="$index==currentIndex" src="assets/img/remove.png" ng-click="removeBookmark($event)"><span
          class="date" clean-date="{{result.updatedDt}}"></span>
      </a>
    </div>

    <div class="col-md-offset-4 col-md-8 col-sm-8 col-sm-offset-4 result-item mobile-sketcher-screen">
      <div id="searchedChapter">
      </div>
    </div>
  </div>
  <div ng-include="'modules/shared/partials/clarifyModal.html'"></div>
</div>
