<style>
.container {
    max-width: 730px;
}

h1, h2, h3 {
    font-family: sans-serif;
}

h2 {
    margin: .5em 0 .2em;
    padding: 0;
}

textarea {
    height: 6em;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    padding: .3em;
    font-family: monospace;
}

.group {
    padding: 1em;
}
.result {
    padding: 1em;
    border: 1px solid #eee;
    margin-bottom: 2em;
    overflow: auto;
}

.dark {
    background: #333;
}
</style>

<div style="padding: 25px">
    <json-formatter open="1" json="json"></json-formatter></td>
</div>
