<div style="width: 1000px">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="startTime">Start:</label>
            <input type="text" class="form-control" datepicker-popup="{{format}}" id="startTime" name="startTime" ng-model="startTime" is-open="isStartTimeOpen" datepicker-options="timeOptions" date-disabled="disabled(time, mode)" ng-required="true" close-text="Close" />
            <button type="button" class="form-control btn btn-default" ng-click="openedStartTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="form-group">
            <label for="endTime">End:</label>
            <input type="text" class="form-control" datepicker-popup="{{format}}" id="endTime" name="endTime" ng-model="endTime" is-open="isEndTimeOpen" datepicker-options="timeOptions" date-disabled="disabled(time, mode)" ng-required="true" close-text="Close" />
            <button type="button" class="form-control btn btn-default" ng-click="openedEndTime($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </div>
        <div class="form-group">
            <select class="form-control" id="reviewed" ng-model="reviewed" ng-init="reviewedList[0]" ng-options="reviewed.id as reviewed.name for reviewed in reviewedList"></select>
        </div>
        <div class="form-group">
            <select class="form-control" id="rating" ng-model="rating" ng-init="ratingList[0]" ng-options="rating.id as rating.name for rating in ratingList"></select>
        </div>
        <button type="button" class="btn btn-default" ng-click="onSubmit()">Submit</button>
    </form>
    <div style="padding-top: 25px">
        <span style="color: green">{{message}}</span>
        <div class="pull-right">
            <span class="text-muted" ng-show="data.total"><b>{{data.startIndex}}</b>–<b>{{data.endIndex}}</b> of <b>{{data.total}}</b></span>

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-disabled="!data.hasPrevious" ng-click="previousPage()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="!data.hasNext" ng-click="nextPage()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Email</th>
            <th>Question</th>
            <th>Rating</th>
            <th>Reviewed</th>
            <th>Comments</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="watsonInteraction in data.results">
            <td>{{watsonInteraction.id}}</td>
            <td>{{watsonInteraction.createdOn | date:'medium'}}</td>
            <td>{{watsonInteraction.email | cut:false:75:'...' }}</td>
            <td>{{watsonInteraction.question | cut:true:100:'...' }}</td>
            <td>{{watsonInteraction.rating}}</td>
            <td><input type="checkbox" ng-model="watsonInteraction.reviewed" ng-click="setReviewed(watsonInteraction)" /></td>
            <td>{{watsonInteraction.comments | cut:true:100:'...' }}</td>
            <td><button type="button" class="btn btn-primary" ng-click="viewResponse(watsonInteraction)">Response</button></td>
            <td><button type="button" class="btn btn-primary" ng-click="viewSummary(watsonInteraction)">Summary</button></td>
        </tr>
    </table>
</div>
