<div style="height: 50px; width: 600px;">
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="message">
        {{message}}
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="errorMessage">

        {{errorMessage}}
    </div>
</div>
<form class="form-horizontal" role="form" name="userForm">
    <div style="width: 600px">
        <fieldset>
            <legend>User:</legend>

            <div class="form-group">
                <label class="control-label col-sm-2" for="firstName">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" ng-model="user.firstName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="lastName">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" ng-model="user.lastName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" ng-model="user.email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="password" ng-model="user.password" data-ng-class="{'ng-invalid':userForm.confirmPassword.$error.match}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="passwordConfirm">Confirm Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" id="passwordConfirm" ng-model="user.passwordConfirm" data-match="user.password" name="confirmPassword">
                    <div class="alert alert-danger" data-ng-show="userForm.confirmPassword.$error.match">Passwords do not match!</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="admin">Admin:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="admin" ng-model="user.admin">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="active">Active:</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="active" ng-model="user.active">
                </div>
            </div>
        </fieldset>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" ng-click="cancel()" style="padding-right: 20px">Back</button>
            <button type="submit" class="btn btn-primary" ng-click="update(user)">Submit</button>
        </div>
    </div>
</form>