<div ng-controller="usersController">
    <h3>User Administration</h3>

    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control" id="searchType" ng-model="searchType" ng-options="searchType.id as searchType.description for searchType in searchTypes" ng-change="listUsers()"></select>
            </div>
            <div class="input-group" style="padding-left: 20px">
                <button class="btn btn-default" ng-click="onAddUser()">Add</button>
                <button class="btn btn-default" ng-click="onEditUser()" ng-disabled="!user">Edit</button>
            </div>
        </div>
    </form>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize class="grid ui-grid-auto-resize" style="width: 800px; max-height: 600px" ng-style="getTableHeight()"></div>
</div>