<div class="row">
  <div class="col-sm-4 col-md-8 col-md-offset-2">
    <div class="login-form signup">
      <span ng-if="!resetPasswdLinkSent && formSubmitted" style="padding-bottom:20px;" class="error">{{errorMessage}}</span>
      <span ng-if="resetPasswdLinkSent && formSubmitted" style="padding-bottom:20px;" class="success">{{errorMessage  + ". click "}} 
        <a href="#/login">here</a><span ng-show="passwordReset"> {{" "}} to login.</span>
      </span>
      <div class="h1 text-blue">Change Password</div>
      <form name="form" ng-submit="changePassword()" role="form">
        <div ng-if="!passwordReset" class="form-group" ng-class="{ 'has-error': form.curPasswd.$dirty && (form.curPasswd.$error.required || !isPasswordCorrect)}">
          <span ng-show="form.curPasswd.$dirty && !isPasswordCorrect" class="help-block with-errors"><ul class="list-unstyled">
            <li>Incorrect current password</li>
          </ul></span>
          <input type="password" name="curPasswd" id="curPasswd" class="form-control" 
          ng-model="user.curPasswd" placeholder="Current password"  ng-blur="checkPassword()" required/>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.newPassword.$dirty && form.newPassword.$error.required }">
          <span ng-show="form.newPassword.$dirty && form.newPassword.$error.pattern" class="help-block with-errors">
            <ul class="list-unstyled">
              <li>password should match the criteria</li>
            </ul>
          </span>

          <input type="password" name="newPassword"  class="form-control password-field" ng-model="user.newPasswd"
          placeholder="New password" ng-pattern="/^(^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!@#$%^&*])[A-Za-z\d$!@#$%^&*]{8,})$/" required/>
          
          <a tabindex="-1" class="password-info" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
             data-html="true" data-content="Minimum 8 characters.<br/>Atleast 1 Uppercase Alphabet<br/>Atleast 1 Lowercase Alphabet<br/>Atleast 1 Number<br/>Atleast 1 Special Character ($@#$!%*?&).">
            <i class="fa fa-info-circle"></i>
          </a>          
        </div>
        <div class="form-group"
             ng-class="{ 'has-error': form.confirmPassword.$dirty && (form.confirmPassword.$error.required || form.confirmPassword.$error.compareTo) }">
          <!-- <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required"
                class="help-block with-errors">
            <ul class="list-unstyled">
              <li>Confirm Password is required</li>
            </ul>
          </span> -->
          <span ng-show="form.confirmPassword.$error.compareTo && !form.confirmPassword.$error.required"
                class="help-block with-errors"><ul class="list-unstyled">
            <li>Password and Confirm Password do not match</li>
          </ul></span>

          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                 ng-model="user.confirmPasswd" compare-to="user.newPasswd" placeholder="Confirm new password" required/>
        </div>
     
        <div class="row">
          <div class="col-md-7 form-group text-right">
               <a ng-if="passwordReset" href="#" style="line-height:2.4;">Discard changes</a>
               <a ng-if="!passwordReset" href="#/myAccount" style="line-height:2.4;">Discard changes</a>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="submit" value="Save password" class="full-width" ng-disabled="form.$invalid  || dataLoading || !isPasswordCorrect">
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>