<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2  col-lg-8 col-lg-offset-2">
    <div class="login-form signup myAccount">
      <span class="error" ng-show="isInternalError">{{errorMessage}}</span>
      <div ng-if="isProfileUpdated" class="success row">{{errorMessage}}</div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
          <div class="h1 text-blue">My Account</div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 edit-account">
          <a href="#editAccount" style="line-height:6;">Edit account details</a>
        </div>
      </div>
      <form name="form" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" placeholder="First name" readonly/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName" placeholder="Last name" readonly/>
              </div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" name="email" id="Text1" class="form-control" ng-model="user.email" readonly>
        </div>

        <div class="form-group">
          <div class="border-bottom">
            <input type="password" name="password" id="password" class="form-control" ng-model="user.password" placeholder="Password" readonly/>
            <span><a href="#/changePassword" style="">Change password</a></span>
          </div>
        </div>


        <div class="form-group">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button id="btn_individual" type="button" class="btn btn-transparent" ng-class="{'selected':user.userType.toUpperCase() == 'INDIVIDUAL'}" readonly>Individual
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_team" type="button" class="btn btn-transparent" ng-class="{'selected':user.userType.toUpperCase().indexOf('TEAM')!== -1}">Team
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_org" type="button" class="btn btn-transparent" ng-class="{'selected':user.userType.toUpperCase().indexOf('ORG')!== -1}">
                Organization
              </button>
            </div>
          </div>
        </div>
        <!-- <input type="submit" ng-click="myfunc()" value="fake"> -->
      </form>
    </div>

  </div>
</div>