<div class="row">
  <div class="col-sm-4 col-md-8 col-md-offset-2">
    <div class="login-form signup">
      <div ng-if="!isInternalError && formSubmitted" class="success row">{{errorMessage}}</div>
      <div ng-if="isInternalError && formSubmitted" class="error">{{errorMessage}}</div>
      <div class="h1 text-blue">Edit account details</div>
      <form name="form" ng-submit="updateAccount()" role="form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required}">
              <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" placeholder="First name" required/>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group"
                 ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required}">
              <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName" placeholder="Last name" required/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" name="email" id="Text1" class="form-control" ng-model="user.email"  placeholder="Email" required readonly/>
         </div>
        <div class="form-group">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button id="btn_individual" type="button" class="btn btn-transparent"
                      ng-click="userTypeChanged('INDIVIDUAL')" ng-class="{'active':user.userType.indexOf('INDIVIDUAL')!== -1}">Individual
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_team" type="button" class="btn btn-transparent" ng-click="userTypeChanged('TEAM')" ng-class="{'active':user.userType.indexOf('TEAM')!== -1}">Team
              </button>
            </div>
            <div class="btn-group" role="group">
              <button id="btn_org" type="button" class="btn btn-transparent" ng-click="userTypeChanged('ORGANISATION')" ng-class="{'active':user.userType.indexOf('ORG')!== -1}">
                Organization
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 form-group text-right">
               <a href="#/myAccount" style="line-height:2.4;">Discard changes</a>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <input type="submit" value="Save changes" class="full-width" ng-disabled="form.$invalid  || dataLoading">
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>